<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="sv">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content={{description}}  />
    <meta content="Brantu" name="author" />
    

    <!--***********************************************************************
    **********************************  STYLE SHEETS ***************************
    ************************************************************************-->

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <!--Plugins / THIRDPARY-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/flexboxgrid.min.css"/>
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/normalize.css" />
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" />
    <link href="/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/pages-icons.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/pages-icons.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css"/>


    <!--VENDOR-->
    <link  href="/stylesheets/pages.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/search.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/settings.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/generic.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/register.css" rel="stylesheet" type="text/css" />

    <!--********************* CONDITIONAL STYLING ***************************-->
    <script type="text/javascript" src='/plugins/jquery/jquery-1.11.1.min.js'></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/util.js"></script>
    <script type="text/javascript" src="/plugins/jquery-bez/jquery.bez.min.js"></script>
    <script type="text/javascript" src="/plugins/ion.rangeSlider/js/ion.rangeSlider.js"></script>
    <script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery.lazyload.min.js"></script>



    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>




    <script type="text/javascript" src="/javascripts/hb-helper.js"></script>
    {{#each templates}}
        <script type="text/x-handlebars-template" id="{{{this.name}}}Template">{{{this.template}}}</script>
    {{/each}}

    <script>
        var USER =  {};
        {{#if user}}
            USER = {{{json user}}};
        {{/if}}

        var DEPARTMENT = '', TYPE='';
        {{#if selectedDepartment}}
         DEPARTMENT = {{{json selectedDepartment}}};
        {{/if}}

        {{#if TYPE}}
        var  TYPE  = {{{json TYPE}}};
        {{/if}}

        {{#if blogProductsLink}}
        var  blogProductsLink  = {{{json blogProductsLink}}};
        {{/if}}


        var priceLimits = {}
        priceLimits['change'] = true;

        {{#if price}}
        priceLimits['data'] = {{{json price}}};
        {{else}}
        priceLimits['data'] = {};
        {{/if}}

    </script>


    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1732120220380478');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1732120220380478&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->


    <div class="hidden">
    <a title="Web Analytics" href="http://clicky.com/100974570"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100974570); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100974570ns.gif" /></p></noscript></div>
</head>

{{#unless cookieConcession}}
    <div id="cookieNotification">
        <div class="pgn-wrapper" data-position="bottom" style="left: 0; right: 0;">
            <div class="pgn push-on-sidebar-open pgn-bar ">
                <div class="alert padding-30 padding-xs-5 text-center" style="background: rgba(51, 27, 43, 0.84); ">
                    <span class="medium hidden-xs" style="color:#eed3d3">Brantu.com använder <a class="text-pink-darker" href="/cookie-policy">cookies</a>. Genom att fortsätta på sidan godkänner du användandet av <a class="text-pink-darker" href="/cookie-policy">cookies</a>.</span>
                    <div class="medium visible-xs" style="color:#eed3d3">Brantu.com använder <a class="text-pink-darker" href="/cookie-policy">cookies</a>. Genom att fortsätta på sidan godkänner du användandet av <a class="text-pink-darker" href="/cookie-policy">cookies</a>.</div>
                    <button type="button" class="hidden-xs btn btn-default m-l-30 m-xs-l-0 " id="cookieAccept" data-dismiss="alert">Jag förstår!
                    </button>
                    <div class="visible-xs m-b-10">  <button type="button" class="btn btn-default m-l-30 m-xs-l-0 " id="cookieAcceptMobile" data-dismiss="alert">
                        Jag förstår!
                    </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        //COOKIE CONCESSION
        function sendCookieConcession(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                }
            };
            xhttp.open("POST", "/cookie-policy", true);
            xhttp.send();
        }

        setTimeout(function(){
            document.getElementById("cookieNotification").style.display = "none";
            sendCookieConcession();
        }, 15000);
        document.getElementById("cookieAccept").onclick=function(){
            document.getElementById("cookieNotification").style.display = "none";
            console.log('sending cookie')
            sendCookieConcession();
        }
        document.getElementById("cookieAcceptMobile").onclick=function(){
            document.getElementById("cookieNotification").style.display = "none";
            console.log('sending cookie')
            sendCookieConcession();
        }
    </script>
{{/unless}}


{{#unless user}}
    {{#unless signupPopup}}
    <script>
        function sendSignupPopup(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                }
            };
            xhttp.open("POST", "/signup-popup", true);
            xhttp.send();
        }
        setTimeout(function(){
            var registerContainer = $('.registerContainer');
            var registerSection = $('#AuthenticationPopUp');
            var number = (isMobile? 0:50);
            if(!registerContainer.is(':visible')){
                registerContainer.stop().addClass('active').css({marginTop:800}).animate({marginTop:number}, 800);
                registerSection.removeClass('hidden').css({opacity:0}).animate({opacity:1}, 500);
            }
            sendSignupPopup();
        }, 16000)
    </script>
    {{/unless}}
{{/unless}}



