<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Bringing brands to you, customize your shopping experience and find out the flash offers from your favourite brands."  />
    <meta content="Brantu" name="author" />

    <meta name="verification" content="f851a1b5b1329e21b3fe0e610bb66367" />
    <!-- TradeDoubler site verification 2845825 -->


    <!--***********************************************************************
    **********************************  STYLE SHEETS ***************************
    ************************************************************************-->

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <!--Plugins / THIRDPARY-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/flexboxgrid.min.css"/>
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/normalize.css" />
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" />
    <link href="/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/pages-icons.css" rel="stylesheet" type="text/css"/>

    <!--VENDOR-->
    <link  href="/stylesheets/pages.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/search.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/settings.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/generic.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/register.css" rel="stylesheet" type="text/css" />

    <!--********************* CONDITIONAL STYLING ***************************-->
    <script type="text/javascript" src='/plugins/jquery/jquery-1.11.1.min.js'></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/util.js"></script>
    <script type="text/javascript" src="/plugins/jquery-bez/jquery.bez.min.js"></script>
    <script type="text/javascript" src="/plugins/ion.rangeSlider/js/ion.rangeSlider.js"></script>



    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>

    <script src="/javascripts/templates.js"></script>
    <script type="text/javascript" src="/javascripts/hb-helper.js"></script>
    <script type="text/javascript" src="/javascripts/hb-partial.js"></script>




    <script>
        var USER =  {};
        {{#if user}}
            USER = {{{json user}}};
        {{/if}}

        var DEPARTMENT = {};
            {{#if selectedDepartment}}
              DEPARTMENT = {{{json selectedDepartment}}};
            {{/if}}

        var TYPE ={};
        {{#if exposeName}}
            TYPE.name  = {{{json exposeName}}};
        {{/if}}
        {{#if exposeValue}}
        TYPE.value = {{{json exposeValue}}};
        {{/if}}

        var CATEGORY_TREE = {};
            {{#if categoryTree}}
            CATEGORY_TREE = {{{json categoryTree}}};
            {{/if}}

        var COLORS = [
            {
                "key": "black",
                "displayName": "Svart",
                'hex':'#000000'
            },
            {
                "key": "brown",
                "displayName": "Brun",
                'hex':'#471413'
            },
            {
                "key": "beige",
                "displayName": "Beige",
                'hex':'#F5F5DC'
            },
            {
                "key": "gray",
                "displayName": "Grå",
                hex:'#919096'
            },
            {
                "key": "white",
                "displayName": "Vit",
                hex:'#ffffff'
            },
            {
                "key": "blue",
                "displayName": "Blå",
                hex:'#6f6fff'
            },
            {
                "key": "petrol",
                "displayName": "Petrol",
                hex:"#10627a"

            },
            {
                "key": "turquoise",
                "displayName": "Turkos",
                hex:'#19e7ef'
            },
            {
                "key": "green",
                "displayName": "Grön",
                'hex':'#008000'
            },
            {
                "key": "olive",
                "displayName": "Oliv",
                'hex':'#008000'
            },
            {
                "key": "yellow",
                "displayName": "Gul",
                'hex':'#008000'
            },
            {
                "key": "orange",
                "displayName": "Orange",
                'hex':'#008000'
            },
            {
                "key": "red",
                "displayName": "Röd",
                'hex':'#f41414'
            },
            {
                "key": "pink",
                "displayName": "Rosa",
                'hex':'#FFC0CB'
            },
            {
                "key": "purple",
                "displayName": "Lila",
                'hex':'#800080'
            },
            {
                "key": "gold",
                "displayName": "Guld",
                'hex':'#FFD700'
            },
            {
                "key": "silver",
                "displayName": "Silver",
                'hex':'#C0C0C0'
            },
            {
                "key": "multicolored",
                "displayName": "Flerfärgad",
                'hex':'#FFC0CB'
            }
        ]
        var HEADERTEXT = {
            hierarchicalFacets: { header: ''},
            disjunctionFacets: {
                color:{header: 'Välj  färgen', filter:'färg'},
                brand:{header: 'Välj  märken', filter:'märken'},
                shop:{header:'Välj  butiken', filter:'butik'},
                size:{header:'Välj  Storlekar', filter:'Storlek'},
                discount:{header:'Rea%', filter:'Rea'}
            },
            facets:{
                sale:{header: 'Bara Rea', filter:'Bara Rea'},
                price:{header: 'Pris'   , filter:'pris'},
            },
            search:{header:'Sökresultat', found: 'vi hittade', product:'styles'},
            autoComplete:{
                productPreview:{brand: 'Märken', shop:'Butik'},
                productList:{ findBetterPriceButton:'find better prices'}
            }
        }

    </script>
</head>