<div id="headerMainContainer">
    <div class="header no-margin" >
    <div class="mobile">
        <div class="top-right  visible-xs" id="menuSearchIcon" style="padding-top: 9px;">
            <div class="relative">
            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="50px" height="23px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M48.693,48.867c-0.56,0.561-1.468,0.561-2.028,0L33.235,35.438
                    c-3.432,2.963-7.848,4.819-12.738,4.819c-10.816,0-19.586-8.768-19.586-19.586c0-10.818,8.769-19.585,19.586-19.585
                    c10.817,0,19.586,8.767,19.586,19.585c0,4.89-1.856,9.305-4.819,12.739l13.429,13.429C49.253,47.398,49.253,48.306,48.693,48.867z
                     M37.07,20.671c0-9.151-7.42-16.572-16.573-16.572c-9.153,0-16.572,7.421-16.572,16.572c0,9.154,7.42,16.574,16.572,16.574
                    C29.651,37.245,37.07,29.825,37.07,20.671z"/>
                </svg>
            </div>
                <input class="fakeMobileSearchButton" />
            </div>

        </div>
        <div class="top-left p-l-5 visible-xs" id="menuBurgerIcon" style="padding-top: 10px;">
            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="50px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="11.324" x2="48" y2="11.324"/>
<line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="23.324" x2="48" y2="23.324"/>
<line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="35.324" x2="48" y2="35.324"/>
</svg>

            </div>
        </div>
        <div class="top-left bottom-right visible-xs bg-master-lighter  b-t b-r b-l b-grey b-b hidden" id="searchMobileContainer" style="z-index: 200;">
                   <div class="row relative">
                       <div class="col-xs-12 search-mobile m-t-5 m-l-5">
                        <form id="searchMobileForm">
                            <input type="submit" class="hidden"/>
                            <input type="text" placeholder="Sök produkter och jämför priser" id="searchMobile"/>
                            <div class="dropdown" style="padding-top:5px; ">
                                <div class="dropdown-menu" id="mobileContainerHintAC">
                                    <div class="p-l-25 p-t-5">
                                        You can search for
                                        <ul>
                                            <li class="medium text-velvet">Products</li>
                                            <li class="medium text-velvet">Brands</li>
                                            <li class="medium text-velvet">Styles/category</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ACSearchProgress hidden top-right" style="right:22%; padding-top:5px;" >
                                <div class=" text-center">
                                    <img src='/images/progress/progress-circle-danger.svg' style="width:22px; height: 20px;"/>
                                </div>
                            </div>
                        </form>
                       </div>
                       <div class="top-right p-t-10 p-b-10 p-l-15 p-r-15" id="CloseSearchMobile">
                           <a class="dark no-border"><i class="pg-close_line fa-2x"></i></a>
                       </div>
                   </div>
        </div>

    </div>

    <div class="b-b hidden-xs bg-white relative" id="header-Dropdown" style="">
        <div class="owl-carousel owl-theme bg-master-lightest" id="owlNav">
            <div class="text-center p-t-10 ">
                <div class="row">
                    <div class="col-xs-4 ">
                        <div class="row">
                            <div class="col-xs  text-right  hidden-xs"><img  src="/images/nav/lookbook_black.png"   width="44"/></div>
                            <div class="col-md-8 hidden-xs text-left"><p class="bold text-black">Jämför och hitta det <br/>bästa priset inom mode</p></div >
                        </div>
                    </div>
                    <div class="col-xs-4 ">
                        <div class="row">
                            <div class="col-xs text-right hidden-xs"><img  src="/images/nav/explore_black.png"   width="44"/></div>
                            <div class="col-md-8 hidden-xs text-left"><p class="bold text-black ">+100 000 styles <br/>+3000 märken</p></div >
                        </div>
                    </div>
                    <div class="col-xs ">
                        <div class="row">
                            <div class="col-xs text-right hidden-xs"><img  src="/images/nav/compare_black.png"   width="40"/></div>

                            <div class="col-md-8  hidden-xs text-left"><p class="bold text-black ">Blixtsnabb <br/>sökning</p></div >
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-t-10">
                <div class="col-xs-3 text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38716083C1837840187T"><img src="/images/shop-logos/asos.png" height="38" width="auto"/></a></div>
               <div class="col-xs-3 text-center"> <a target="_blank" href="https://clk.tradedoubler.com/click?p=227648&a=2845810&g=22955234"><img src="/images/shop-logos/boozt.png" width="auto" height="32"/></a></div>
                <div class="col-xs-3 text-center"><a target="_blank" href="https://clk.tradedoubler.com/click?p=246777&a=2845810&g=21733454"><img src="/images/shop-logos/danielwellington.png" width="auto" height="45"/></a></div>
                <div class="col-xs text-center "><a target="_blank"  class="m-t-5" href="https://clk.tradedoubler.com/click?p=151948&a=2845810&g=18352288"><img src="/images/shop-logos/ellos.png" width="auto" height="35"/></a></div>
            </div>

            <div class="row p-t-10">
               <div class="col-xs-3 text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38526299C41157032T"><img src="/images/shop-logos/mrporter.png" width="auto" height="38"/></a></div>
               <div class="col-xs-3 text-center"><a target="_blank" href="https://clk.tradedoubler.com/click?p=270159&a=2845810&g=23120192"><img src="/images/shop-logos/nakd.png" width="auto" height="30"/></a></div>
               <div class="col-xs-3 text-center"><a target="_blank" href="https://clk.tradedoubler.com/click?p=17833&a=2845810&g=17114610"><img src="/images/shop-logos/nelly.png" width="auto" height="36"/></a></div>
               <div class="col-xs text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38093533C37559022T"><img class="m-t-5" src="/images/shop-logos/riverisland.png"  width="auto" height="23"/></a></div>
            </div>

            <div class="row ">
                <div class="col-xs-3 text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38466512C97949588T"><img class="m-t-15"  src="/images/shop-logos/farfetch.png" width="auto" height="26"/></a></div>
               <div class="col-xs-3 text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38223421C59905408T"><img class="m-t-5"  src="/images/shop-logos/happysocks.png" width="auto" height="50"/></a></div>
               <div class="col-xs-3 text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38514929C65783720T"><img class="m-t-15"  src="/images/shop-logos/hope.png" width="auto" height="28"/></a></div>
                <div class="col-xs text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38129541C17502336T"><img class="m-t-15"  src="/images/shop-logos/miinto.png" width="auto" height="30"/></a></div>
            </div>



            <div class="row p-t-15 bg-master-lightest">
                <div class="col-xs-3 text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38327053C74631457T"><img src="/images/shop-logos/sarenza.png" style="margin-top:4px;" width="auto" height="22"/></a></div>
                <div class="col-xs-3 text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38147178C67665694T"><img src="/images/shop-logos/stylepit.png" width="auto" height="30"/></a></div>
                <div class="col-xs-3 text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38165721C89270335T"><img src="/images/shop-logos/topman.png" style="margin-top:4px;" width="auto" height="22"/></a></div>
               <div class="col-xs text-center"><a target="_blank" href="http://ad.zanox.com/ppc/?38637325C44813741T"><img src="/images/shop-logos/urban-outfitters.png" width="auto" height="34"/></a></div>
            </div>
        </div>
    </div>

    <div  id="headerMainWrapper"> <div class="container glass boxShadowed" id="headerMain" >
        <div class="row">
            <div class="col-sm full-width  visible-xs">
                <div class=" sm-table">
                    <div class="header-inner auto-margin" style="text-align: center !important;">
                        <div class="brand" style="width: auto;">
                                <div class="auto-margin block m-t-10" style="width: 180px; height: auto;">
                                    <a href="/" class="m-t-15">
                                        <div class="mainLogo ">
                                        </div>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 hidden-xs ">
              <div class=" sm-table">
                  <div class="">
                      <div class="brand" style="width: auto;">
                              <div class="relative" style=" padding-top: 5px;">
                                  <a href="/">
                                      <div class="mainLogo">

                                      </div>
                                  </a>
                              </div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-sm-6 relative  hidden-xs">
                <div class="auto-margin block relative p-t-5" >
                    <form id="autocompleteForm">
                        <div class="search-link">
                            <form id="searchForm">
                                <input type="text" placeholder="Sök och jämför priser" id="search"/>
                            </form>
                            <div class="dropdown">
                                <div class="dropdown-menu styleTip" id="containerHintAC">
                                    <div class="p-l-10 p-t-10 all-caps">
                                        You can search for
                                        <ul>
                                            <li class="medium text-velvet">Products</li>
                                            <li class="medium text-velvet">Brands</li>
                                            <li class="medium text-velvet">Styles/category</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ACSearchProgress hidden top-right" style="right:15%; padding-top:7px; z-index: 10;" >
                                <div class=" text-center">
                                    <img src='/images/progress/progress-circle-master.svg' style="width:30px; height: 30px;"/>
                                </div>
                            </div>
                            <button class="search-button"><i class="fa text-black fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class=" col-sm  hidden-xs">
             <!-- START User Info-->
             {{#if user}}
            <div class="hidden-xs pull-right ">
               <div class="dropdown pull-right" style="padding-top:8px;">
                 <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{#if user.facebook.name}}
                              <span class="thumbnail-wrapper circular d32  bold  inline all-caps" style="font-size:16px; border:2px solid rgba(0,0,0,0.7); color:#e5a3ad; padding-top:4px;" id="avatar">
                               {{trimForAvatar user.facebook.name}}
                               </span>

                     {{else}}
                           <span class="thumbnail-wrapper circular d32  bold   inline all-caps " style="font-size:16px; border:3px solid rgba(111,111,111,0.7); color:#ffb6c1; padding-top:4px; " id="avatar">
                            {{trimForAvatar user.local.email}}
                            </span>
                     {{/if}}

                 </button>
                 <ul class="dropdown-menu profile-dropdown" role="menu">
                     <li class="bold visible-sm visible-xs"><a href="/favourite-products"  class="bold b-b b-transparent-white text-white">
                         <i><img src="/images/nav/favourite.png" style="width:26px;"/></i>
                         <span class="v-align-middle">Favourite</span></a>
                     </li>
                     <li class="bold "><a href="/settings"  class="bold b-b b-transparent-white text-white">
                         <i><img src="/images/nav/settings.png" style="width:26px;"/></i>
                         <span class="v-align-middle">Inställningar</span></a>
                     </li>
                     <li class="bold "><a href="/contact-us" class="bold b-b b-transparent-white text-white">
                         <i><img src="/images/nav/contact.png" style="width:26px;"/></i>
                         <span class="v-align-middle">Contact</span></a>
                     </li>
                     <li class="bold "><a href="/about-us" class="bold b-b b-transparent-white text-white">
                         <i><img src="/images/nav/about.png" style="width:26px;"/></i>
                         <span class="v-align-middle">About</span></a>
                     </li>
                     <li class="bold" style="margin-top: 0;"><a href="/logout" class="bold b-transparent-white text-white">
                         <i><img src="/images/nav/logout.png" style="width:26px;"/></i>
                         <span class="v-align-middle">Logga Ut</span></a>
                     </li>

                 </ul>
               </div>
             </div>
             {{else}}
                 <div class="hidden-xs pull-right ">
                     <div class="dropdown pull-right p-t-15 p-b-15">
                         <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <img src="/images/nav/more.png" width="17"/>
                         </button>
                         <ul class="dropdown-menu profile-dropdown" role="menu" style="top:102%;    right: -25%;
">
                             <li class="bold visible-sm visible-xs"><a href="/favourite-products"  class="bold b-b b-transparent-white text-white">
                                 <i style="padding-top: 3px;"><img src="/images/nav/favourite.png" style="width:26px;"/></i>
                                 <span class="v-align-middle">Favourite</span></a>
                             </li>
                             <li class="bold "><a href="/contact-us" class="bold b-b b-transparent-white text-white">
                                 <i><img src="/images/nav/contact.png" style="width:26px;"/></i>
                                 <span class="v-align-middle">Contact</span></a>
                             </li>
                             <li class="bold " style="margin-top: 0;"><a href="/about-us" class="bold b-b b-transparent-white text-white">
                                 <i><img src="/images/nav/about.png" style="width:26px;"/></i>
                                <span class="v-align-middle">About</span></a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <div class="hidden-xs pull-right nav-margin-small">
                    <ul class="nav navbar-nav">
                         <li data-view="login" class="authenticate no-overflow-text"><a class="dark no-overflow-text" >Logga In </a></li>
                        <li class="login text-pink-darker " style="padding-top: 14px;line-height: 25px;">/</li>
                        <li data-view="signup" class="authenticate no-overflow-text"><a class="dark no-overflow-text" >Bli medlem</a></li>
                    </ul>
                </div>
             {{/if}}

               <div class="visible-lg visible-md pull-right hidden-sm hidden-xs  nav-margin" style=" height:50px;padding-top:6px;" >
                   <ul class="notification-list no-margin  no-style inline">
                       <li class="inline relative" >
                           <a class="dark" href="/favourite-products"  id="preference-center" >
                               <div class="p-t-10" style="width: 20px; font-size:23px;">
                                   <i class="fa text-black fa-heart"></i>
                               </div>
                               <div class="bubble sideBarFavouriteProducts" id="nbFavoProduct"> <span>{{#if nbFavProducts}} {{nbFavProducts}} {{else}}0{{/if}}</span></div>
                           </a>
                       </li>
                       <!--<li class="p-l-25 p-r-25 inline relative" >
                           <a href="#" id="preference-center" >
                               <div style="width: 23px;">
                                   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="100%" height="100%" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">

                                    <path fill="none" stroke="#e5a3ad" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                        M34.381,3.423c-4.08,0-7.725,1.862-10.131,4.783c-2.406-2.921-6.051-4.783-10.131-4.783C6.874,3.423,1,9.296,1,16.543
                                        s11.274,16.56,23.25,28.535C36.846,32.483,47.5,23.789,47.5,16.543S41.626,3.423,34.381,3.423z"/>
                                    </svg>
                               </div>
                               <div class="bubble"> <span>25</span></div>
                           </a>
                       </li>-->

                   </ul>
               </div>



             <!-- END User Info-->
           </div>
        </div>
    </div></div>

    <div class="full-width bg-white" id="containerAC"></div>
    <div class="full-width bg-white" id="mobileContainerAC"></div>

    <div id="navbarDepartment">
        <div class="container  hidden-xs" style="  background: rgba(251,251,251,0.93);" >
            <div class="pull-left" id="navbarCategory">
                    <div class=" sm-table">
                        <div class="header-inner auto-margin" style="text-align: center !important;">
                            <div class="brand" style="width: auto;">
                                <ul class="nav navbar-nav" id="navbar-categories">
                                    {{#each categoryTree}}
                                        <li class=" p-r-80 inline">
                                            <a class="all-caps dark text-spaced-medium  {{#if ../selectedDepartment}}{{#if (compareStrings this.department.name ../selectedDepartment)}}active{{/if}}{{/if}}" style="font-size:15px; line-height: 3px;" key="{{this.department.key}}" href="/{{this.department.key}}">{{this.department.name}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {{#if selectedDepartment}}
        <div class="container hidden-xs full-width menu b-b b-grey bg-white" id="navSubCategory" >
            <ul class="nav navbar-nav submenu">
                <li class=" "><a class="dark all-caps text-spaced-medium   text-center" href="/{{selectedDepartment}}" data-page>Feed</a></li>
                {{#each categoryTree}}
                    {{#if (compareStrings this.department.name ../selectedDepartment)}}
                        {{#each categories}}
                            <li class=""><a class="dark all-caps text-spaced-medium  text-center"  expand-key="{{category.key}}">{{andfixer category.name}}</a></li>
                        {{/each}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        {{/if}}

        <div id="category-expand-parent" class="hidden" style="margin:0 50px; background: transparent;">
            <div class=" p-l-50 bgBlurEffect  category-expand-wrapper relative" style="opacity:0; box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2); background: rgba(0,0,0,0.82); width:1000px; height: 250px;">
                {{#each categoryTree}}
                    {{#if (compareStrings this.department.name ../selectedDepartment)}}
                        {{#each categories}}
                            <div class=" category-expand-container hidden  padding-1v" expand-parentKey="{{category.key}}">
                                <div class="category-expand">
                                    <div class="">
                                        <a href="/explore?q=&hFR[products][0]={{joinBreadCrumb category.breadcrumb}}&page=0"><h4 class="sbold text-spaced-medium all-caps b-b b-white text-white">{{andfixer category.name}}</h4></a>
                                        <div class="inline">

                                            <div class="desktopNavColoumns p-b-20">
                                                <ul>
                                                    {{#each subCategory}}
                                                        <li class="full-width  b-b m-b-10" style="border-color: rgba(255,255,255,0.1)"><a class=" fs-14  bold"  href="/explore?q=&hFR[products][0]={{joinBreadCrumb this.breadcrumb}}&page=0">
                                                          {{andfixer this.name}}
                                                        </a></li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                {{/each}}
                {{#if (compareStrings 'Kvinna' selectedDepartment)}}

                    <div class="bottom-right p-r-40" >
                        <script type="text/javascript">
                            var uri = 'https://impse.tradedoubler.com/imp?type(img)g(23323710)a(2845810)' + new String (Math.random()).substring (2, 11);
                            document.write('<a href="https://clk.tradedoubler.com/click?p=270159&a=2845810&g=23323710" target="_BLANK"><img style="max-width: 100%" src="'+uri+'" border=0></a>');
                        </script>
                    </div>
                {{else}}
                    <div class="bottom-right p-r-40" >
                         <a href="http://ad.zanox.com/ppc/?38687752C882786159T"><img src="http://ad.zanox.com/ppv/?38687752C882786159" align="bottom" width="300" height="250" border="0" hspace="1" alt="Shoes 300 x 250"></a>
                    </div>
                {{/if}}
            </div>

        </div>
    </div>


    <div class="container  hidden-xs " id="navbarTagsContainer" style="  background: rgba(251,251,251,0.98); display: none;" >
        <div class="pull-left p-t-5 p-b-5" id="navbarTags" style="display:none;">
            <div class=" sm-table">
                <div class="header-inner auto-margin" style="text-align: center !important;">
                    <div class="brand" style="width: auto;">
                        <ul class="nav navbar-nav" id="navbar-categories">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center full-width no-overflow visible-xs bg-master-lighter" id="mobileSubMenu" style="padding-top:35px;">
    <div class="row b-b">
        <a class="col-xs p-b-5 dark light text-center subMenuMobile {{#if (stringContains url "upptack-nya-favoriter")}}active{{/if}}" href="/{{selectedDepartment}}"  data-page>
            <div>
                <div class="p-t-5">
                    <i><img src="/images/nav/lookbook.png" style="width:45px;"/></i>
                </div>
            </div>
        </a>
        <a class="dark light text-center col-xs b-l b-grey p-b-5 subMenuMobile {{#if (stringContains url "explore")}}active{{/if}}" href="/explore?q=&hFR[products][0]={{selectedDepartment}}&page=0" data-page="explore">
            <div>
                <div class="p-t-5">
                    <i><img src="/images/nav/explore.png" style="width:45px;"/></i>
                </div>
            </div>
        </a>
        <a class="col-xs b-l b-grey p-b-5 dark light text-center relative no-overflow" id="comparePricePageButton">
            <div>
                <div class="p-t-5"> <i><img src="/images/nav/compare.png" style="width:45px;"/></i></div>
            </div>
            <input class="fakeMobileSearchButton bigSquare" />
        </a>
    </div>
</div>
</div>























