<div class="header  no-margin" >
    <div class="mobile">
        <div class="top-right  visible-xs" id="menuSearchIcon" style="padding-top: 9px;">
            <div class="relative">
            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="50px" height="23px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M48.693,48.867c-0.56,0.561-1.468,0.561-2.028,0L33.235,35.438
                    c-3.432,2.963-7.848,4.819-12.738,4.819c-10.816,0-19.586-8.768-19.586-19.586c0-10.818,8.769-19.585,19.586-19.585
                    c10.817,0,19.586,8.767,19.586,19.585c0,4.89-1.856,9.305-4.819,12.739l13.429,13.429C49.253,47.398,49.253,48.306,48.693,48.867z
                     M37.07,20.671c0-9.151-7.42-16.572-16.573-16.572c-9.153,0-16.572,7.421-16.572,16.572c0,9.154,7.42,16.574,16.572,16.574
                    C29.651,37.245,37.07,29.825,37.07,20.671z"/>
                </svg>
            </div>
                <input id="fakeMobileSearchButton" />
            </div>

        </div>

        <div class="top-left p-l-5 visible-xs" id="menuBurgerIcon" style="padding-top: 10px;">
            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="50px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="11.324" x2="48" y2="11.324"/>
<line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="23.324" x2="48" y2="23.324"/>
<line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="35.324" x2="48" y2="35.324"/>
</svg>

            </div>
        </div>
        <div class="top-left bottom-right visible-xs bg-master-lighter  b-t b-r b-l b-grey b-b hidden" id="searchMobileContainer" style="z-index: 200;">
                   <div class="row relative">
                       <div class="col-xs-12 search-mobile">
                        <form id="searchMobileForm">
                            <input type="submit" class="hidden"/>
                            <input type="text" placeholder="Sök märken, produkter och jämför priser" id="searchMobile"/>
                            <div class="ACSearchProgress hidden top-right" style="right:15%; padding-top:7px;" >
                                <div class=" text-center">
                                    <img src='/images/progress/progress-circle-lg-white.svg' style="width:30px; height: 30px;"/>
                                </div>
                            </div>
                        </form>
                       </div>
                       <div class="top-right p-t-10 p-b-10 p-l-30 p-r-30" id="CloseSearchMobile">
                           <a><i class="pg-close_line fa-2x"></i></a>
                       </div>
                   </div>
        </div>

    </div>

    <div class="b-b hidden-xs bg-white" id="header-Dropdown" style="">
        <div class="row p-t-10">
            <div class="col-xs-3 ">
                <div class="row">
                    <div class="col-xs  text-right hidden-sm hidden-xs"><img  src="/images/nav/glasses.svg"   width="40"/></div>
                    <div class="col-xs pull-xs-left text-center visible-sm visible-xs"><img  src="/images/nav/glasses.svg"   width="40"/></div>
                    <div class="col-md-8 hidden-sm hidden-xs"><p class="medium text-master">Jämför och hitta det bästa priset inom mode</p></div >
                </div>
            </div>
            <div class="col-xs-3 ">
                <div class="row">
                    <div class="col-xs text-right hidden-sm hidden-xs"><img  src="/images/nav/lightning.svg"   width="40"/></div>
                    <div class="col-xs text-center visible-sm visible-xs"><img  src="/images/nav/lightning.svg"   width="40"/></div>
                    <div class="col-md-8 hidden-sm hidden-xs"><p class="medium p-t-10 text-master ">Blixtsnabb sökning</p></div >
                </div>
            </div>
            <div class="col-xs-3 ">
                <div class="row">
                    <div class="col-xs text-right hidden-sm hidden-xs"><img  src="/images/nav/calender.svg"   width="40"/></div>
                    <div class="col-xs text-center visible-sm visible-xs"><img  src="/images/nav/calender.svg"   width="40"/></div>
                    <div class="col-md-8 hidden-sm hidden-xs"><p class="medium text-master ">Nyheter från våra nätbutiker varje dag</p></div >
                </div>
            </div>
            <div class="col-xs  ">
                <div class="row">
                    <div class="col-xs text-right hidden-sm hidden-xs"><img  src="/images/nav/present.svg"   width="40"/></div>
                    <div class="col-xs text-center p-xs-l-10 visible-sm visible-xs"><img  src="/images/nav/present.svg"   width="40"/></div>
                    <div class="col-md-8 hidden-sm hidden-xs"><p class="medium p-t-10 text-master">Stöd välgörenhet</p></div >
                </div>
            </div>

        </div>
    </div>

    <div class="container glass" >
        <div class="row">
            <div class="col-sm full-width  visible-xs">
                <div class=" sm-table">
                    <div class="header-inner auto-margin" style="text-align: center !important;">
                        <div class="brand" style="width: auto;">
                                <div class="auto-margin block" style="width: 180px; height: auto;">
                                    <a href="/">
                                        <img src="/images/brantublacklogo-01.svg" alt="logo" class="mainLogo" />
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 hidden-xs ">
              <div class=" sm-table">
                  <div class="header-inner auto-margin" style="text-align: center !important;">
                      <div class="brand" style="width: auto;">

                              <div class="auto-margin block" style="width: 180px; height: auto; padding-top: 5px;">
                                  <a href="/">
                                      <img src="/images/brantublacklogo-01.svg" alt="logo" class="mainLogo" />
                                  </a>
                              </div>

                      </div>
                  </div>
              </div>
          </div>
            <div class="col-sm-6 relative  hidden-xs">
                <div class="auto-margin block relative" style="" >
                    <form id="autocompleteForm">
                        <div class="search-link">
                            <input type="text" placeholder="Sök märken, produkter och jämför priser" id="search"/>
                            <div class="ACSearchProgress hidden top-right" style="right:15%; padding-top:7px; z-index: 10;" >
                                <div class=" text-center">
                                    <img src='/images/progress/progress-circle-master.svg' style="width:30px; height: 30px;"/>
                                </div>
                            </div>
                            <button class="search-button"><i class="fa text-black fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class=" col-sm  hidden-xs">
             <!-- START User Info-->
             {{#if user}}
            <div class="hidden-xs pull-right">
               <div class="dropdown pull-right" style="padding-top:8px;">
                 <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{#if user.facebook.name}}
                              <span class="thumbnail-wrapper circular d32  bold  inline all-caps" style="font-size:16px; border:2px solid rgba(0,0,0,0.7); color:#e5a3ad; padding-top:4px;" id="avatar">
                               {{trimForAvatar user.facebook.name}}
                               </span>

                     {{else}}
                           <span class="thumbnail-wrapper circular d32  bold   inline all-caps " style="font-size:16px; border:3px solid rgba(111,111,111,0.7); color:#ffb6c1; padding-top:4px; " id="avatar">
                            {{trimForAvatar user.local.email}}
                            </span>
                     {{/if}}

                 </button>
                 <ul class="dropdown-menu profile-dropdown" role="menu">
                    <li>
                       <a href="/settings" class="bold" style="color:#ff6a80;">
                        <i style="width: 15px;">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                        width="15px" height="15px" viewBox="0 0 48.501 48.501" enable-background="new 0 0 48.501 48.501" xml:space="preserve">
                            <g>
                                <path fill="none" stroke="#010101" stroke-width="3.7825" stroke-miterlimit="10" d="M45.057,19.261
                                    c2.242,9.317-2.024,19.313-10.904,23.951C25.21,47.882,14.48,45.607,8.13,38.32"/>
                                <path fill="none" stroke="#010101" stroke-width="3.7825" stroke-miterlimit="10" d="M3.346,28.814
                                    C1.333,19.62,5.603,9.856,14.347,5.289c8.658-4.522,18.991-2.533,25.402,4.209"/>
                                <polyline fill="none" stroke="#010101" stroke-width="3.7825" stroke-miterlimit="10" points="40.639,2.864 40.223,10.406
                                    33.01,10.435 	"/>
                                <polyline fill="none" stroke="#010101" stroke-width="3.7825" stroke-miterlimit="10" points="6.686,44.699 7.102,37.157
                                    14.315,37.128 	"/>
                            </g>
                            </svg>
                        </i>
                        Inställningar
                       </a>
                    </li>
                    <li class="bold"><a href="#" style="color:#ff6a80;" class="bold">
                       <i class="inline" style="width:15px;">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="15px" height="15px" viewBox="0 0 48.501 48.501" enable-background="new 0 0 48.501 48.501" xml:space="preserve">
                        <g>

                                <path fill="none" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M42.997,2.169H5.886C3.74,2.169,2,3.847,2,5.916v28.949c0,2.07,1.74,3.747,3.886,3.747H8.66l-4.146,8.44l12.018-8.44h26.465
                                c2.146,0,3.886-1.678,3.886-3.747V5.916C46.883,3.847,45.143,2.169,42.997,2.169z"/>
                            <g>
                                <path fill="#010101" stroke-width="4" d="M22.659,24.094l-0.055-0.713c-0.164-1.48,0.329-3.098,1.7-4.742c1.233-1.453,1.919-2.522,1.919-3.756
                                    c0-1.399-0.877-2.33-2.604-2.358c-0.987,0-2.084,0.329-2.769,0.85l-0.657-1.728c0.904-0.657,2.467-1.096,3.92-1.096
                                    c3.153,0,4.578,1.946,4.578,4.029c0,1.865-1.041,3.208-2.357,4.77c-1.206,1.425-1.645,2.632-1.563,4.03l0.027,0.713H22.659z
                                     M22.057,27.932c0-1.015,0.685-1.727,1.645-1.727c0.959,0,1.617,0.712,1.617,1.727c0,0.96-0.631,1.7-1.645,1.7
                                    C22.714,29.631,22.057,28.891,22.057,27.932z"/>
                            </g>
                        </g>
                        </svg>
                        </i>
                       Feedback</a >
                    </li>
                     <li class="bold"><a href="#" class="bold" style="color:#ff6a80;">
                         <i class="inline" style="width:15px;">
                             <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="15px" height="15px" viewBox="0 0 48.501 48.501" enable-background="new 0 0 48.501 48.501" xml:space="preserve">
                            <g>
                                <circle fill="none" stroke="#010101" stroke-width="3.8304" stroke-miterlimit="10" cx="7.827" cy="19.691" r="5.576"/>
                                <circle fill="none" stroke="#010101" stroke-width="3.8304" stroke-miterlimit="10" cx="24.275" cy="7.777" r="5.576"/>
                                <circle fill="none" stroke="#010101" stroke-width="3.8304" stroke-miterlimit="10" cx="40.724" cy="21.005" r="5.576"/>
                                <circle fill="none" stroke="#010101" stroke-width="3.8304" stroke-miterlimit="10" cx="25.344" cy="40.674" r="5.576"/>

                                    <line fill="none" stroke="#010101" stroke-width="3.8304" stroke-miterlimit="10" x1="12.229" y1="16.276" x2="19.767" y2="11.056"/>

                                    <line fill="none" stroke="#010101" stroke-width="3.8304" stroke-miterlimit="10" x1="29.026" y1="11.056" x2="36.342" y2="17.562"/>

                                    <line fill="none" stroke="#010101" stroke-width="3.8304" stroke-miterlimit="10" x1="37.131" y1="25.267" x2="29.026" y2="36.494"/>
                            </g>
                            </svg>
                         </i>
                         How it Works</a>
                     </li>
                     <li class="bold "><a href="#" class="bold" style="color:#ff6a80;">
                         <i class="inline " style="width:15px;">
                             <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="15px" height="15px" viewBox="0 0 48.501 48.501" enable-background="new 0 0 48.501 48.501" xml:space="preserve">
                            <g>
                                <path fill="none" stroke="#010101" stroke-width="3" stroke-miterlimit="10" d="M39.44,16.924c0-8.173-6.626-14.799-14.799-14.799
                                    c-8.173,0-14.799,6.626-14.799,14.799c0,6.261,4.08,8.885,7.403,13.764c0.849,1.247,1.984,6.033,1.984,6.033h10.824
                                    c0,0,1.135-4.787,1.984-6.034C35.361,25.809,39.44,23.185,39.44,16.924z"/>
                                <line fill="none" stroke="#010101" stroke-width="2" stroke-miterlimit="10" x1="18.62" y1="39.868" x2="30.662" y2="39.868"/>
                                <line fill="none" stroke="#010101" stroke-width="3" stroke-miterlimit="10" x1="19.036" y1="43.043" x2="30.246" y2="43.043"/>
                                <path fill="none" stroke="#010101" stroke-width="3" stroke-miterlimit="10" d="M27.975,43.043c0,1.841-1.492,3.333-3.333,3.333
                                    c-1.841,0-3.333-1.492-3.333-3.333"/>
                            </g>
                            </svg>
                         </i>
                         About</a>
                     </li>
                     <li class="bold bg-master-lighter"><a href="/logout" class="bold" style="">
                         <i class="pg-power">
                         </i>
                         Logga Ut</a>
                     </li>
                 </ul>
               </div>
             </div>
             {{else}}
             <div class="hidden-xs pull-right">
               <ul class="nav navbar-nav">
                 <li id="login"><a class="dark" >Logga In </a></li>
                   <li class="login text-pink-darker hidden-sm" style="padding-top: 14px;line-height: 25px;">eller</li>
                   <li class="login text-pink-darker visible-sm" style="padding-top: 14px;line-height: 25px;">/</li>
                 <li id="signup"><a class="dark" >Bli medlem</a></li>
             </ul>
             </div>
             {{/if}}

               {{#if user}}
                   <div class="visible-lg visible-md pull-left hidden-sm hidden-xs  " style=" height:50px; margin-right:0px; padding-top:6px;" >
                       <ul class="notification-list no-margin  no-style p-l-15 p-r-15 inline">
                           <li class="p-l-30 p-r-25 inline relative" >
                               <a href="#"  id="preference-center" >
                                   <div style="width: 23px;">
                                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="100%" height="100%" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
                                        <g>
                                            <path fill="none" stroke="#e5a3ad" stroke-width="4" stroke-miterlimit="10" d="M29.978,46.071
                                                c-1.419,1.419-3.812,1.874-5.267,0.946C15.335,41.043,7.458,33.166,1.484,23.79c-0.928-1.455-0.472-3.846,0.946-5.267
                                                c1.146-1.146,2.292-2.291,3.437-3.437c1.421-1.421,3.289-1.35,4.217,0.104c5.975,9.375,13.852,17.252,23.228,23.227
                                                c1.453,0.926,1.523,2.795,0.103,4.216C32.269,43.78,31.123,44.925,29.978,46.071z"/>
                                            <g>
                                                <path fill="none" stroke="#e5a3ad" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M39.998,8.72
                                                    c0,0-4.043-7.057-10.873-2.892c-6.83,4.165-11.839,7.676-19.306,9.005"/>

                                                <path fill="none" stroke="#e5a3ad" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M39.781,8.503
                                                    c0,0,7.056,4.042,2.892,10.873c-4.164,6.83-7.676,11.839-9.005,19.306"/>
                                            </g>

                                                <circle fill="none" stroke="#e5a3ad" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" cx="43.153" cy="5.348" r="4.348"/>

                                            <path fill="none" stroke="#e5a3ad" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M16.995,41.852
                                                c-2.857,2.857-7.489,2.857-10.348,0c-2.856-2.857-2.856-7.489,0.001-10.347"/>
                                        </g>
                                        </svg>
                                   </div>
                                   <div class="bubble"> <span>25</span></div>
                               </a>
                           </li>
                           <li class="p-l-25 p-r-25 inline relative" >
                               <a href="#" id="preference-center" >
                                   <div style="width: 23px;">
                                       <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="100%" height="100%" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">

                                        <path fill="none" stroke="#e5a3ad" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                            M34.381,3.423c-4.08,0-7.725,1.862-10.131,4.783c-2.406-2.921-6.051-4.783-10.131-4.783C6.874,3.423,1,9.296,1,16.543
                                            s11.274,16.56,23.25,28.535C36.846,32.483,47.5,23.789,47.5,16.543S41.626,3.423,34.381,3.423z"/>
                                        </svg>
                                   </div>
                                   <div class="bubble"> <span>25</span></div>
                               </a>
                           </li>

                       </ul>
                   </div>
               {{/if}}


             <!-- END User Info-->
           </div>
        </div>
    </div>


    <div class="full-width bg-white" id="containerAC"></div>
    <div class="full-width bg-white" id="mobileContainerAC"></div>


    <div class="container  hidden-xs" style="  background: rgba(251,251,251,0.93);" id="navbar-categories">

            <div class="pull-left" id="navbarCategory">
                <div class=" sm-table">
                    <div class="header-inner auto-margin" style="text-align: center !important;">
                        <div class="brand" style="width: auto;">
                            <ul class="nav navbar-nav" id="navbar-categories">
                                {{#each categoryTree}}
                                    <li class=" p-r-80 inline">
                                        <a class="capitalize dark text-spaced medium {{#if ../selectedDepartmentName}}{{#if (compareStrings this.department.name ../selectedDepartmentName)}}active{{/if}}{{/if}}" style="font-size:15px; line-height: 3px;" key="{{this.department.key}}" href="/{{this.department.name}}">{{this.department.name}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pull-left" id="navbarTags" style="display:none;">
                <div class=" sm-table">
                    <div class="header-inner auto-margin" style="text-align: center !important;">
                        <div class="brand" style="width: auto;">
                            <ul class="nav navbar-nav" id="navbar-categories">
                                <li class=" p-r-80 inline">
                                    <a class="capitalize dark text-spaced medium">FUck you</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container hidden-xs full-width menu b-b b-grey bg-white" >
       <ul class="nav navbar-nav submenu">
           <li class=" "><a class="dark medium  text-center" href="/{{selectedDepartment.key}}/upptack-nya-favoriter">Upptäck <font class="smallCaps">nya favoriter</font> </a></li>
           {{#each categoryTree}}
               {{#if (compareStrings this.department.name ../selectedDepartment.name)}}
                   {{#each categories}}
                       <li class=""><a class="dark medium text-center" expand-key="{{category.key}}">{{andfixer category.name}}</a></li>
                   {{/each}}
               {{/if}}
           {{/each}}
       </ul>
    </div>

    <div class=" " style="padding:0 50px; background: transparent;">
        <div class="bg-white" style=" background: transparent; box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);">
            {{#each categoryTree}}
            {{#if (compareStrings this.department.name ../selectedDepartment.name)}}
                {{#each categories}}
                <div class=" category-expand-container hidden  padding-1v" expand-parentKey="{{category.key}}">
                    <div class="category-expand">
                        <h5 class="sbold">{{andfixer category.name}}</h5>
                        <div class="desktopNavColoumns">
                            <ul>
                                {{#each subCategory}}
                                    <li><a class="dark" href="/explore/{{this.key}}">
                                        {{andfixer this.name}}
                                    </a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{/if}}
        {{/each}}
        </div>

    </div>
</div>

<div class="text-center p-t-50 full-width no-overflow visible-xs " id="mobileSubMenu">
    <div class="row b-b b-grey">
        <a class="col-xs p-b-5 dark light text-center" href="/{{selectedDepartment.key}}/upptack-nya-favoriter"><div class="">
            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<g>
	<path fill="none" stroke="#8B8B8D" stroke-width="0.7019" stroke-linejoin="round" stroke-miterlimit="10" d="M35.328,35.9
		c0,5.618-4.56,7.86-10.185,7.86s-10.185-2.242-10.185-7.86c0-1.482,0.318-2.428,0.889-3.699c0.376-0.836,1.278,2.981,1.889,2.312
		c1.505-1.647-1.666-5.406,4.167-8.259c-1.042,2.913-0.207,4.069,0.926,4.069c2.46,0,2.498-3.672,2.228-8.323
		c7.523,5.808,3.37,8.045,4.224,8.756c4.196,0.462,1.393-8.724,5.122,0.058C35.078,32.406,35.328,34.046,35.328,35.9z"/>
</g>
</svg>

            </div>
            Upptäck nya favoriter</div></a>
        <a class="dark light active  text-center col-xs b-l b-grey p-b-5" href="/explore/{{selectedDepartment.key}}"><div class=" ">
            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                <g>
                    <path fill="none" stroke="#8B8B8D" stroke-width="1.0667" stroke-linejoin="round" stroke-miterlimit="10" d="M21.059,26.172
                        c0-1.761,1.428-3.189,3.189-3.189c1.761,0,3.189,1.428,3.189,3.189c0,1.761-3.178,2.474-3.178,4.267l-16,8.556
                        c0,0.607,0.454,1.1,1.013,1.1h31.039c0.559,0,1.013-0.492,1.013-1.1L25.325,30.45"/>
                </g>
                </svg>


            </div>
            Wardrobe Finder</div></a>
        <a class="col-xs b-l b-grey p-b-5 dark light text-center"><div class="">
            <div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
<g display="none">
	<path display="inline" fill="none" stroke="#8B8B8D" stroke-width="0.7019" stroke-linejoin="round" stroke-miterlimit="10" d="
		M35.328,35.9c0,5.618-4.56,7.86-10.185,7.86s-10.185-2.242-10.185-7.86c0-1.482,0.318-2.428,0.889-3.699
		c0.376-0.836,1.278,2.981,1.889,2.312c1.505-1.647-1.666-5.406,4.167-8.259c-1.042,2.913-0.207,4.069,0.926,4.069
		c2.46,0,2.498-3.672,2.228-8.323c7.523,5.808,3.37,8.045,4.224,8.756c4.196,0.462,1.393-8.724,5.122,0.058
		C35.078,32.406,35.328,34.046,35.328,35.9z"/>
</g>
<g>
	<g>
		<path fill="none" stroke="#8B8B8D" stroke-width="0.7097" stroke-miterlimit="10" d="M28.96,44.879
			c-0.277,0.277-0.726,0.277-1.003,0l-9.075-9.075c-1.004-1.004-2.76-7.778-0.753-9.785c2.007-2.007,8.782-0.251,9.785,0.753
			l9.075,9.075c0.277,0.277,0.277,0.727,0,1.003L28.96,44.879z"/>
		<circle fill="none" stroke="#8B8B8D" stroke-width="0.7097" stroke-miterlimit="10" cx="20.402" cy="28.292" r="1.419"/>
		<path fill="none" stroke="#8B8B8D" stroke-width="0.7097" stroke-miterlimit="10" d="M16.862,26.745
			c-0.158-0.148-0.323-0.309-0.496-0.482c-2.46-2.46-0.509-2.516-0.509-2.516s0.027-1.981,2.516,0.509
			c2.356,2.356,2.311,3.209,1.756,3.763"/>
	</g>
	<path fill="none" stroke="#8B8B8D" stroke-width="0.7097" stroke-linejoin="round" stroke-miterlimit="10" d="M27.18,37.718
		c0.63,0.63,1.658,0.623,2.296-0.015c0.638-0.638,0.644-1.666,0.015-2.296c-0.926-0.926-2.524-0.213-2.524-0.213
		s-1.612,0.699-2.524-0.213c-0.629-0.63-0.623-1.658,0.015-2.296c0.638-0.638,1.666-0.644,2.295-0.015"/>

		<line fill="none" stroke="#8B8B8D" stroke-width="0.7097" stroke-linejoin="round" stroke-miterlimit="10" x1="23.24" y1="31.426" x2="30.752" y2="38.937"/>
</g>
</svg>
                </svg>
            </div>
            Jämför priser</div> </a>
    </div>
</div>





