<nav class="page-sidebar hidden-md hidden-xlg hidden-lg" >
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <div class="sidebar-overlay-slide from-top" id="departmentMenu">
        <h1 class="text-white">Select Department</h1>
        <div class="row">
            <div class="col-xs-12 p-t-20 ">
                <a href="/kvinna" class="p-l-10 sbold" href="/kvinna"  style="font-size: 24px;" data-department="Kvinna">
                    Kvinna
                </a>
            </div>
            <div class="col-xs-12 p-t-20">
                <a href="/man" class="p-l-10  sbold" href="/man" style="font-size: 24px;" data-department="Man">
                    Man
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">

        <a  class="inline text-white medium sidebar-header-title cursor {{#if (compareStrings selectedDepartment.name "Kvinna")}}sbold {{else}} hint-text{{/if}}" href="/kvinna" style="font-size: 18px;">Kvinna</a>
        <a class="inline p-r-5 p-l-5" style="font-size: 18px;">/</a>
        <a  class="inline text-white medium sidebar-header-title cursor {{#if (compareStrings selectedDepartment.name "Man")}}sbold {{else}} hint-text{{/if}}" href="/man" style="font-size: 18px;">Man</a>
        <!--<div class="sidebar-header-controls">
            <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 p-t-5" data-pages-toggle="#appMenu">
                <i class="fa fa-angle-down  text-white" style="font-size: 16px;"></i>
            </button>
        </div>-->
        {{#if user}}
        <div class="pull-right">
            <button class="profile-dropdown-toggle p-t-5 p-r-10" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{#if user.facebook.name}}
                    <span class="thumbnail-wrapper circular d39  bold  inline all-caps" style="font-size:18px; border:2px solid rgba(0,0,0,0.7); color:#e5a3ad; padding-top:8px;" id="avatar">
                        {{trimForAvatar user.facebook.name}}
                    </span>

                {{else}}
                <span class="thumbnail-wrapper circular d39  bold   inline all-caps " style="font-size:18px; border:2px solid rgba(111,111,111,0.7); color:#ffb6c1;  line-height:33px;" id="avatar">
                        {{trimForAvatar user.local.email}}
                    </span>
                {{/if}}

            </button>
        </div>
        {{/if}}
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu bg-Image b-r" style="background-position: top; {{#if (compareStrings selectedDepartment.name 'Kvinna')}}background-image:url('/images/home/women/main4.jpg');{{else}} background-image: url('/images/home/men/main2.jpg'); {{/if}}"  data-department-toggle="{{selectedDepartment.name}}">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <div class="scroll-wrapper  menu-items bgBlurEffectLight" style="position: relative; overflow-x: hidden; background: rgba(0,0,0,0.82);">
            <ul class="menu-items scroll-content" style="margin-bottom: 0px; margin-right: 0px; height: 100%; padding-bottom: 50px;">
                 <li class="m-t-30 b-b b-transparent-white">
                    <a href="/{{selectedDepartment}}/upptack-nya-favoriter" >
                        <span class="title all-caps bold" >Inspire</span>
                        <!--<span class="details">234 New Updates</span>-->
                    </a>
                 <span class="icon-thumbnail">
                    <i><img src="/images/nav/lookbook.png" style="width:38px;"/></i>
                 </span>
                </li>
                 <li class="m-t-10 b-b b-transparent-white open active">
                    <a href="#" >
                        <span class="title all-caps bold" >Explore</span>
                        <span class="arrow "></span>
                    </a>
                        <span class="icon-thumbnail ">
                           <i><img src="/images/nav/explore.png" style="width:38px;"/></i>
                        </span>
                    {{#each categoryTree}}
                        {{#if (compareStrings this.department.name ../selectedDepartment)}}
                            <ul class="sub-menu">
                                {{#each categories}}
                                    <li>
                                        <a class=" bold"><span class="title all-caps">{{andfixer category.name}}</span>
                                            <span class="arrow"></span></a>
                                        <ul class="sub-menu">
                                                <li>
                                                    <a class=" bold" href="/explore?q=&hFR[products][0]={{joinBreadCrumb category.breadcrumb}}&page=0"  data-page-ref>Alla</a>
                                                </li>
                                            {{#each subCategory}}
                                                <li>
                                                    <a class=" bold" href="/explore?q=&hFR[products][0]={{joinBreadCrumb this.breadcrumb}}&page=0" data-page-ref>{{andfixer this.name}}</a>
                                                </li>
                                            {{/each }}
                                        </ul>
                                    </li>
                                {{/each }}
                            </ul>
                        {{/if}}
                    {{/each}}
                </li>
                <li class="m-t-10 relative no-overflow  b-b b-transparent-white">
                <a href="#">
                    <span class="title all-caps bold" >Compare Prices</span>
                </a>
                    <span class="icon-thumbnail ">
                    <i><img src="/images/nav/compare.png" style="width:38px;"/></i>
                    </span>
                <input class="fakeMobileSearchButton bigSquare"/>
                </li>
                <li class="m-t-10 b-b b-transparent-white">
                    <a href="/favourite-products"><span class="title all-caps bold" >Favourite</span></a>
                    <span class="icon-thumbnail">
                         <i><img src="/images/nav/favourite.png" style="width:38px;"/></i>
                    </span>
                    <!--<span class="detail">{{#if nbFavProducts}} {{nbFavProducts}} {{else}}0{{/if}}</span>-->
                </li>
                {{#if user}}
                <li class="m-t-10 b-b b-transparent-white">
                        <a href="/settings">
                            <span class="title  all-caps bold" >Settings</span>
                        </a>
                         <span class="icon-thumbnail">
                             <i><img src="/images/nav/settings.png" style="width:38px;"/></i>
                         </span>
                </li>
                <li  class="m-t-50 full-width text-center " data-view="signup">
                       <a  class="no-padding no-margin" href="/logout"><button class="btn btn-default p-l-60 p-r-60 p-t-15 p-b-15 all-caps bold">logout</button></a>
                </li>
                {{/if}}



                {{#unless user}}
                <li class="m-t-50 full-width text-center authenticateMobile" data-view="signup">
                    <button class="btn btn-default  p-l-70 p-r-70 p-t-15 p-b-15 all-caps bold">Bli member</button>
                </li>
                <li class="m-t-10 full-width text-center authenticateMobile" data-view="login">
                    <button class="btn btn-default no-border bold all-caps bold"><u>logga In</u></button>
                </li>
                {{/unless}}
        </ul><div class="scroll-element scroll-x"><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="width: 96px;">

        </div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="height: 96px; top: 0px;">
            </div></div></div></div>

    </div>


    <!-- END SIDEBAR MENU -->
</nav>
<div class="page-sidebar-cover hidden"></div>

<div id="mobileProductFilter"></div>





