
<style>
    .searchMainPageOverlay div{
        z-index:-1 !important;
        background: rgba(51,51,51,0) !important;
    }

    #home .textFind{
        top:100px;
    }
    #home  .textFind h3{
        margin: auto;
        width:200px;
        padding-top:15px;
        padding-bottom:15px;
        border:2px solid whitesmoke;
        color: #9E8130;
        font-weight: 900;
    }
    #home .departmentSelector{
        background: #000;
        position: relative;
        overflow: hidden;
    }
    #home .departmentSelector .WOMEN, .departmentSelector .MEN{
        border-bottom: 2px solid white;
        height:100%;
        height:420px;
        width:100%;
        background-position: 50% 70% !important;
        background-repeat: no-repeat;
        transition:all 0.2s linear;
        cursor: pointer;
    }
    #home .departmentSelector:hover .WOMEN, .departmentSelector:hover .MEN{
         opacity: 0.4;
    }
    #home .departmentSelector .WOMEN{
        background-image: url('/images/home/home_women.jpg');
    }
    #home .departmentSelector .MEN{
        background-image: url('/images/home/home_men2.jpg');

    }

   #home #selectionHome{
        border-top:1px solid black;
    }


    @media (max-width: 991px){
        #home  #mainContent .search-link{
            width:500px;
        }
    }
    @media (max-width: 480px){
        #home .departmentSelector .WOMEN, .departmentSelector .MEN{
            height:200px;
        }
    }
</style>
<div class="container" id="home" >
                   <div class=" no-margin">
                       <div class=" relative no-overflow relative full-width" >
                           <div class=" relative">
                               <div class="" id="mainContent">
                                   <div class="relative container-fluid" id="selectionHome">
                                       <div class="row no-margin no-padding hidden-xs"  >
                                                <div class="col-md-6 col-sm-6 col-xs-12 departmentSelector no-padding" >
                                                    <a href="/kvinna">
                                                           <div class="WOMEN bg-image b-a b-thick b-white no-background-image">
                                                           </div>
                                                           <div class="top-right text-center bottom-left textFind">
                                                               <h3 class="sbold all-caps">Kvinna</h3>
                                                           </div>
                                                           <div class=" hidden b-r b-grey">
                                                               <div class="row no-margin p-t-20 p-b-20 text-center">
                                                                  <div class="col-xs-4">
                                                                      <a class="dark bold fs-16">
                                                                          Skor
                                                                      </a>

                                                                  </div>

                                                                   <div class="col-xs-4">
                                                                       <a class="dark bold fs-16">Kläder</a>
                                                                   </div>

                                                                   <div class="col-xs-4">
                                                                       <a class="dark bold fs-16">Accessoarer</a>
                                                                   </div>
                                                               </div>
                                                           </div>
                                                    </a>
                                           </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 departmentSelector bg-image text-left no-padding" >
                                              <a href="/man">
                                                <div class="Men bg-image no-background-image b-a b-thick b-white">
                                               </div>
                                                <div class="top-right text-center bottom-left textFind">
                                                   <h3 class="sbold all-caps">Man</h3>
                                               </div>
                                                <div class=" hidden b-l b-grey">
                                                   <div class="row no-margin p-t-20 p-b-20 text-center">
                                                       <div class="col-xs-4">
                                                           <a class="dark bold fs-16">Skor</a>
                                                       </div>

                                                       <div class="col-xs-4">
                                                           <a class="dark bold fs-16">Kläder</a>
                                                       </div>

                                                       <div class="col-xs-4">
                                                           <a class="dark bold fs-16">Accessoarer</a>
                                                       </div>
                                                   </div>
                                               </div>
                                              </a>
                                           </div>
                                       </div>

                                       <div class="text-center"  >
                                           <div class=" p-t-5 relative full-width" id="headerHome">
                                               <div class="">
                                                   <div class="">
                                                       <h1 id="h1Home" class="text-center  text-black  all-caps">HITTA OCH JÄMFÖR KLÄDER <br/> DU GILLAR TILL BÄSTA PRISET.</h1>
                                                       <h5 class="text-black text-center">Vi är en prisjämförelsesajt som samlar alla modebutiker på en plats. <br/>Med oss hittar du relaterade produkter och stilar till det bästa priset.</h5>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="bg-master-light hidden-xs">
                                               <button class="text-center p-t-20 p-b-20 fs-16 text-purple btn-block btn btn-velvet filled all-caps bold" id="howBrantuWorks"> Varför är brantu den ultimata shoppingdestinationen för mode? ?</button>
                                           </div>
                                       </div>

                                       <div class="row no-margin no-padding visible-xs"  >
                                           <div class="col-md-6 col-sm-6 col-xs-12 departmentSelector no-padding" >
                                               <a href="/kvinna">
                                                   <div class="WOMEN bg-image b-a b-thick b-white no-background-image">
                                                   </div>
                                                   <div class="top-right text-center bottom-left textFind">
                                                       <h3 class="sbold all-caps">Kvinna</h3>
                                                   </div>
                                                   <div class=" hidden b-r b-grey">
                                                       <div class="row no-margin p-t-20 p-b-20 text-center">
                                                           <div class="col-xs-4">
                                                               <a class="dark bold fs-16">
                                                                   Skor
                                                               </a>

                                                           </div>

                                                           <div class="col-xs-4">
                                                               <a class="dark bold fs-16">Kläder</a>
                                                           </div>

                                                           <div class="col-xs-4">
                                                               <a class="dark bold fs-16">Accessoarer</a>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </a>
                                           </div>
                                           <div class="col-md-6 col-sm-6 col-xs-12 departmentSelector bg-image text-left no-padding" >
                                               <a href="/man">
                                                   <div class="Men bg-image no-background-image b-a b-thick b-white">
                                                   </div>
                                                   <div class="top-right text-center bottom-left textFind">
                                                       <h3 class="sbold all-caps">Man</h3>
                                                   </div>
                                                   <div class=" hidden b-l b-grey">
                                                       <div class="row no-margin p-t-20 p-b-20 text-center">
                                                           <div class="col-xs-4">
                                                               <a class="dark bold fs-16">Skor</a>
                                                           </div>

                                                           <div class="col-xs-4">
                                                               <a class="dark bold fs-16">Kläder</a>
                                                           </div>

                                                           <div class="col-xs-4">
                                                               <a class="dark bold fs-16">Accessoarer</a>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </a>
                                           </div>
                                       </div>
                                   </div>
                                    <div class="text-center">
                                       <div class="bg-master-light visible-xs">
                                           <button class="text-center p-t-20 p-b-20 fs-16  btn-block btn btn-velvet filled all-caps bold" id="howBrantuWorksMobile"> why brantu is it your <br/> best fashion desitination?</button>
                                       </div>
                                   </div>
                                   <div id="brands" class="m-t-40 m-b-40">
                                       <div class="autoHeightSwiper">
                                           <div class="row no-margin special-border  ">
                                               <h2 class="section-title">Jämför priset på över 5000 märken.</h2>
                                               <div class="swiper-container swiper-general p-b-30">
                                                   <div class="swiper-wrapper">
                                                       <div class="swiper-slide b-a b-grey">
                                                           <a href="/brand/filippa-k{{#if (compareStrings selectedDepartment 'kvinna')}}/?&category=kvinna{{else}}/?&category=man{{/if}}">
                                                               <div class="gallery-item bg-white no-margin bg-image relative" data-flex-width="1" data-flex-height="1"  >
                                                                   <div class="top-left bottom-right bg-image no-background-image"
                                                                        style="background-image: url('/images/brands/filippa-k-logo.jpg'); background-size: 90%;     background-position: 50% 50%;" >
                                                                       <div class="brand-follow">
                                                                           {{#if user}}
                                                                               {{#if product.brand.isFavored}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="unfollow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="removeBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/remove">
                                                                                       <button class="btn btn-tag btn-follow active"  >följer</button>
                                                                                   </a>
                                                                               {{else}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="follow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="addBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/add">
                                                                                       <button class="btn btn-tag btn-follow">följ</button>
                                                                                   </a>
                                                                               {{/if}}
                                                                           {{else}}
                                                                               <a data-view="signup" class="authenticate" data-toggle="top" data-placement="bottom" title="follow {{product.brand.name}} price drops, discount and coupons">
                                                                                   <button class="btn btn-tag btn-follow">följ</button>
                                                                               </a>
                                                                           {{/if}}
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                           </a>
                                                       </div>
                                                       <div class="swiper-slide b-a b-grey">
                                                           <a href="/brand/boss-orange{{#if (compareStrings selectedDepartment 'kvinna')}}/?&category=kvinna{{else}}/?&category=man{{/if}}">
                                                               <div class="gallery-item bg-white no-margin bg-image relative" data-flex-width="1" data-flex-height="1"  >
                                                                   <div class="top-left bottom-right bg-image no-background-image "
                                                                        style="background-image: url('/images/brands/hugo-boss-logo.svg.png'); background-size: 50%; background-position: 50% 50%;">
                                                                       <div class="brand-follow">
                                                                           {{#if user}}
                                                                               {{#if product.brand.isFavored}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="unfollow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="removeBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/remove">
                                                                                       <button class="btn btn-tag btn-follow active"  >följer</button>
                                                                                   </a>
                                                                               {{else}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="follow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="addBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/add">
                                                                                       <button class="btn btn-tag btn-follow">följ</button>
                                                                                   </a>
                                                                               {{/if}}
                                                                           {{else}}
                                                                               <a data-view="signup" class="authenticate" data-toggle="top" data-placement="bottom" title="follow {{product.brand.name}} price drops, discount and coupons">
                                                                                   <button class="btn btn-tag btn-follow">följ</button>
                                                                               </a>
                                                                           {{/if}}
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                           </a>
                                                       </div>
                                                       <div class="swiper-slide b-a b-grey">
                                                           <a href="/brand/tiger-of-sweden{{#if (compareStrings selectedDepartment 'kvinna')}}/?&category=kvinna{{else}}/?&category=man{{/if}}">
                                                               <div class="gallery-item bg-white no-margin bg-image relative" data-flex-width="1" data-flex-height="1"  >
                                                                   <div class="top-left bottom-right bg-image no-background-image "
                                                                        style="background-image: url('/images/brands/tiger-of-sweden-logo.jpg'); background-size: 60%; background-position: center;" >
                                                                       <div class="brand-follow">
                                                                           {{#if user}}
                                                                               {{#if product.brand.isFavored}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="unfollow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="removeBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/remove">
                                                                                       <button class="btn btn-tag btn-follow active"  >följer</button>
                                                                                   </a>
                                                                               {{else}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="follow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="addBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/add">
                                                                                       <button class="btn btn-tag btn-follow">följ</button>
                                                                                   </a>
                                                                               {{/if}}
                                                                           {{else}}
                                                                               <a data-view="signup" class="authenticate" data-toggle="top" data-placement="bottom" title="follow {{product.brand.name}} price drops, discount and coupons">
                                                                                   <button class="btn btn-tag btn-follow">följ</button>
                                                                               </a>
                                                                           {{/if}}
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                           </a>
                                                       </div>
                                                       <div class="swiper-slide b-a b-grey">
                                                           <a href="/brand/tiger-of-sweden{{#if (compareStrings selectedDepartment 'kvinna')}}/?&category=kvinna{{else}}/?&category=man{{/if}}">
                                                               <div class="gallery-item bg-white no-margin bg-image relative" data-flex-width="1" data-flex-height="1"  >
                                                                   <div class="top-left bottom-right bg-image no-background-image "
                                                                        style="background-image: url('/images/brands/tiger-of-sweden-logo.jpg'); background-size: 60%; background-position: center;" >

                                                                       <div class="brand-follow">
                                                                           {{#if user}}
                                                                               {{#if product.brand.isFavored}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="unfollow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="removeBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/remove">
                                                                                       <button class="btn btn-tag btn-follow active"  >följer</button>
                                                                                   </a>
                                                                               {{else}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="follow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="addBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/add">
                                                                                       <button class="btn btn-tag btn-follow">följ</button>
                                                                                   </a>
                                                                               {{/if}}
                                                                           {{else}}
                                                                               <a data-view="signup" class="authenticate" data-toggle="top" data-placement="bottom" title="follow {{product.brand.name}} price drops, discount and coupons">
                                                                                   <button class="btn btn-tag btn-follow">följ</button>
                                                                               </a>
                                                                           {{/if}}
                                                                       </div>

                                                                   </div>
                                                               </div>
                                                           </a>
                                                       </div>
                                                       <div class="swiper-slide b-a b-grey">
                                                           <a href="/brand/tiger-of-sweden{{#if (compareStrings selectedDepartment 'kvinna')}}/?&category=kvinna{{else}}/?&category=man{{/if}}">
                                                               <div class="gallery-item bg-white no-margin bg-image relative" data-flex-width="1" data-flex-height="1"  >
                                                                   <div class="top-left bottom-right bg-image no-background-image "
                                                                        style="background-image: url('/images/brands/tiger-of-sweden-logo.jpg'); background-size: 60%; background-position: center;" >
                                                                       <div class="brand-follow">
                                                                           {{#if user}}
                                                                               {{#if product.brand.isFavored}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="unfollow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="removeBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/remove">
                                                                                       <button class="btn btn-tag btn-follow active"  >följer</button>
                                                                                   </a>
                                                                               {{else}}
                                                                                   <a class="dark inline fs-16 sbold no-margin no-padding text-spaced-medium text-left"
                                                                                      data-toggle="tooltip" data-placement="top" title="follow {{product.brand.name}} price drops, discount and coupons"
                                                                                      data-favourite="addBrand"  id="{{product.brand._id}}" name="{{product.brand.name}}" key="{{product.brand.key}}"
                                                                                      action="/favourite-brands/add">
                                                                                       <button class="btn btn-tag btn-follow">följ</button>
                                                                                   </a>
                                                                               {{/if}}
                                                                           {{else}}
                                                                               <a data-view="signup" class="authenticate" data-toggle="top" data-placement="bottom" title="follow {{product.brand.name}} price drops, discount and coupons">
                                                                                   <button class="btn btn-tag btn-follow">följ</button>
                                                                               </a>
                                                                           {{/if}}
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                           </a>
                                                       </div>
                                                   </div>
                                                   <div class="swiper-pagination"></div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="p-t-40">
                                       <h2 class=" title-borders all-caps" id="feature-section-title">
                                           <span class="text-black">
                                               Den bästa prisjämförelsesajten inom mode
                                           </span>
                                       </h2>
                                       {{> how-it-works}}
                                   </div>

                               </div>
                           </div>

                       </div>
                   </div>
       </div>

<script>
   $('#howBrantuWorks, #howBrantuWorksMobile ').on('click', function(){
       $('html, body').animate({scrollTop:($('#feature-section-title').offset().top - 110)})
   })
</script>

