


<div class="page-content-wrapper bg-master-lightest" >
   <section id="mainSection"  >
       <style>
           .mainJumbtron.MEN{
               background-image:url('/dist/images/home/men/jumbtron.jpg');
           }

           #compareClothes .sideBarCarousel.MEN{
               background-image: url('/dist/images/home/men/sidecarousel_cloth_men.jpg');
           }
           #compareShoes .sideBarCarousel.MEN{
               background-image: url('/dist/images/home/men/sidecarousel_shoes_men.jpg');
           }

           .mainJumbtron.WOMEN{
               background-image:url('/dist/images/home/women/jumbtron.jpg');
           }
           #compareClothes .sideBarCarousel.WOMEN{
               background-image: url('/dist/images/home/women/sidecarousel_cloth_women.jpg');
           }
           #compareShoes .sideBarCarousel.WOMEN{
               background-image: url('/dist/images/home/women/sidecarousel_shoes_women.jpg');
           }


           #ourPartners{
               background-image: url('/dist/images/home/ourpartners.jpg');
           }

           .shopLogo{
               opacity:0.4;
           }
           #featuresLandingPage div, #featuresLandingPage h4, #featuresLandingPage h5{
               text-align: center;
           }

           @media (max-width: 480px){
               .mainJumbtron.MEN{
                   background-image:url('/dist/images/home/men/jumbtron_mobile.jpg');
               }
               .mainJumbtron.WOMEN{
                   background-image:url('/dist/images/home/women/jumbtron_mobile.jpg');
               }
               #featuresLandingPage div, #featuresLandingPage h4, #featuresLandingPage h5{
                   text-align: left;
               }
               .sideBarCarousel button{
                   font-size:10px;
                   padding:8px 3px;
               }
               #shopImage{
                   width: 30px;
               }
               .compareTable .price p{
                   font-size:10px;
               }
               .compareTable .color p{
                   font-size:10px;
               }
               #landingPageContent{
                   padding-top: 0 !important;
               }

           }

       </style>



       <div id="owlLanding">
           <div>
                   <div class="bg-image mainJumbtron relative no-overflow relative {{mapDepartment selectedDepartment}}">
                       <div class="col-md-12  full-height relative" >
                           <div class="padding-1v col-xs-12 text-center hidden-xs text-section">
                               <h1 class="text-spaced hidden bold text-purple all-caps">Jämför <font class="hidden">priser</font> och hitta det <br/>bästa priset inom mode</h1>
                               <h2 class="text-spaced  bold text-purple all-caps">Jämför <font class="hidden">priser</font> och hitta det <br/>bästa priset inom mode</h2>

                           </div>
                           <div class="padding-1v col-xs-12 text-center visible-xs text-section">
                               <h4 class="text-spaced all-caps bold text-purple all-caps">Jämför <font class="hidden">priser</font> och hitta det bästa priset inom mode.</h4>
                           </div>
                       </div>
                   </div>
           </div>
       </div>
       <div class="content"  id="landingPageContent">
           <div class=" hidden-xs row p-r-50 p-xs-r-5 p-l-50 p-xs-l-5 p-t-30 p-xs-t-5" id="featuresLandingPage">
               <div class="col-sm-4  col-xs-12">
                       <div >
                                   <h4 class=" text-black hidden-xs"> <i class="pg-shopping_cart text-purple inline"></i>Jämför priser för samma produkt</h4>
                                   <h5 class="no-padding no-margin text-black visible-xs "><i class="pg-shopping_cart text-purple inline"></i> Jämför priser för samma produkt</h5>
                       </div >
               </div>
               <div class="col-sm-4 col-xs-12">
                       <div >
                           <h4 class=" text-black hidden-xs"> <i class="pg-layouts text-purple"></i>  Samma stil till bättre pris</h4>
                           <h5 class=" text-black visible-xs"><i class="pg-layouts text-purple"></i> Samma stil till bättre pris</h5>
                       </div >
               </div>
               <div class="col-sm col-xs-12">
                       <div class="">
                           <h4 class=" text-black hidden-xs"><i class="pg-cupboard text-purple"></i> Alla dina favoritbutiker på ett ställe</h4>
                           <h5 class=" text-black visible-xs"><i class="pg-cupboard text-purple"></i> Alla dina favoritbutiker på ett ställe</h5>
                       </div >
               </div>
           </div>


           {{#if compareClothes}}
       <div class="row b-rad-lg m-t-40 m-xs-t-10" id="compareClothes">
           <!--<div class="col-md-3 m-xs-b-20 no-padding  col-xs-12">
               <div>
                   <div class="no-padding bg-image sideBarCarousel {{mapDepartment selectedDepartment}}">
                       <div class="full-height full-width" >
                           <div class="padding-15 m-xs-b-10 padding-xs-10 row">
                               <div class="col-md-12 col-sm-8 col-xs-6">
                                   <h3 class="text-master hidden-xs all-caps no-margin no-padding">
                                       <font class="text-spaced-medium sbold text-black">Samma Plagg</font>
                                   </h3>
                                   <h4 class="text-master visible-xs all-caps no-margin no-padding">
                                       <font class="text-spaced-medium sbold text-black">Samma Plagg</font>
                                   </h4>
                                   <h4 class="text-black hidden-xs bold ">
                                       Olika Butiker | Olika Priser
                                   </h4>
                                   <h6 class="text-black visible-xs bold ">
                                       Olika Butiker | Olika Priser
                                   </h6>
                                   <p class="hidden-xs bold p-t-20">
                                       jämföra butikernas priser på kläder som båda butikerna säljer. Det gäller att välja rätt i butikerna!
                                   </p>
                               </div>
                               <div class="col-md-12 col-sm col-xs ">
                                   <div class="m-t-10"><a href="/{{selectedDepartment}}/kläder/?compare=true"><button class="btn btn-info sbold"> Alla samma produkter</button></a></div>
                                   <div class="m-t-10"><a href="/{{selectedDepartment}}/kläder/"><button class="btn btn-info sbold">Alla kläder</button></a></div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>-->
           <h2 class="text-center full-width text-black medium all-caps ">
               Jämför priser för samma produkt
           </h2>
           <div class="col-md-10 col-md-offset-1 no-padding col-xs-12 col-sm-12" style="border:1px solid #eee; border-radius: 5px; box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);">
               <div class="carouselPreview relative mainCompareContainer">
                   <div class="next-page "><i class="pg-arrow_lright_line_alt"></i></div>
                   <div class="prev-page "><i class="pg-arrow_left_line_alt"></i></div>
                   <div class="no-style text-center v-align-bottom " id="owl-clothes">
                       {{#each compareClothes}}
                           <div class="carousel mainCompareCarousel text-center no-overflow">
                               <a  href="{{this.productUrl}}"  rel="nofollow"  target="_blank">
                                   <div class="relative">
                                     <img class="lazyOwl full-width" data-src="{{{this.mainPicture.largeUrl}}}"/>
                                       <div class="overlayer bottom-left hidden-xs full-width">
                                           <div class="overlayer-wrapper item-info more-content">
                                               <div class="gradient-black p-l-20 p-r-20 p-t-20 p-b-5">
                                                   <a target="_blank" href="{{this.productUrl}}" rel="nofollow">
                                                       <button class="btn btn-default sbold"> Go to shop</button>
                                                   </a>
                                                   <div class="m-t-5">
                                                   <a class="light sbold text-white " href="/bästa-pris-för/{{{urlFriendly this.name}}}-{{this._id}}">
                                                       <i class="pg-italic"></i>More information
                                                   </a>
                                                   </div>

                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </a>
                               <a  href="{{this.productUrl}}" rel="nofollow" target="_blank">
                                   <p class="text-center no-margin bold b-b">{{this.brand.name}}
                                       {{#if this.isItSaving}}<br/> <span class="text-velvet" style="font-size: 12px;"><i><img src="/images/nav/compare.png" style="width:20px; height: auto;"></i>Spara <b>{{this.saving}}</b> ({{this.savingPercentage}}%)</span> {{/if}}
                                   </p>
                               </a>
                                   <table class="auto-margin compareTable table-condensed" >
                                         {{#each this.articles.shops}}
                                             <tr class="no-padding no-margin b-b p-t-5 b-grey">
                                                <td class="inline no-padding p-t-5 p-b-5 v-align-middle no-margin ">
                                                    <a target="_blank"  rel="nofollow"  href="{{this.lowest.articleUrl}}">
                                                        <img width="60" id="shopImage" src="{{this.shop.logoUrl}}"/>
                                                    </a>
                                                </td>
                                                 <td class="inline color no-overflow-text no-padding p-t-5 p-b-5 v-align-middle no-margin p-l-20 p-xs-l-5">
                                                     <a target="_blank"  rel="nofollow"  href="{{this.lowest.articleUrl}}">
                                                         <p class="no-margin v-align-middle"><small>{{this.lowest.color}} </small></p>
                                                     </a>
                                                 </td>
                                                <td class="inline price no-padding p-t-5 p-b-5 v-align-middle no-margin p-l-20 p-xs-l-5">
                                                    <a target="_blank"  rel="nofollow"  href="{{this.lowest.articleUrl}}">
                                                        <p class="no-margin no-overflow-text v-align-middle">{{this.lowest.price.formatted}}  {{#if this.shop.freeReturn}}<b class=" fs-10 bold text-velvet"> Free Return</b>{{/if}}</p>
                                                    </a>
                                                </td>
                                             </tr>
                                         {{/each}}
                                   </table>
                                   <div class="text-center visible-xs p-t-10">
                                       <a class="dark sbold fs-10 " href="/bästa-pris-för/{{{urlFriendly this.name}}}-{{this._id}}">
                                           <i class="pg-italic"></i>More information
                                       </a>
                                   </div>
                           </div>
                       {{/each}}
                   </div>
                   <a href="/{{selectedDepartment}}/kläder/?compare=true">
                       <button class="btn fs-14 bold btn-block btn-velvet">
                            Fler Prisjämförelser
                       </button>
                   </a>
               </div>
           </div>
       </div>
           {{/if}}





           <!--{{#if compareShoes}}
               <div class="row b-rad-lg m-t-80" id="compareShoes">
                   <div class="col-md-3 col-xs-12 no-padding m-xs-b-20">
                       <div>
                           <div class="no-padding bg-image sideBarCarousel {{mapDepartment selectedDepartment}}">
                               <div class="full-height full-width" >
                                   <div class="padding-15 padding-xs-5 row">
                                       <div class="col-md-12 col-sm-8 col-xs-6">
                                           <h3 class="text-master hidden-xs all-caps no-margin no-padding">
                                               <font class="text-spaced-medium sbold text-black">Samma Skor</font>
                                           </h3>
                                           <h4 class="text-master visible-xs all-caps no-margin no-padding">
                                               <font class="text-spaced-medium sbold text-black">Samma Skor</font>
                                           </h4>
                                           <h4 class="text-black hidden-xs bold ">
                                               Olika Butiker | Olika Priser
                                           </h4>
                                           <h6 class="text-black visible-xs bold ">
                                               Olika Butiker | Olika Priser
                                           </h6>
                                           <p class="hidden-xs bold p-t-20">
                                               jämföra butikernas priser på skor som båda butikerna säljer. Det gäller att välja rätt i butikerna!
                                           </p>
                                       </div>
                                       <div class="col-md-12 col-sm col-xs">
                                           <div class="m-t-10"><a href="/{{selectedDepartment}}/skor/?compare=true"><button class="btn btn-default sbold">Alla samma produkter</button></a></div>
                                           <div class="m-t-10"><a href="/{{selectedDepartment}}/skor/"><button class="btn btn-default sbold"> Alla Skor</button></a></div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-9 no-padding no-margin col-xs-12 col-sm-12">
                       <div class="carouselPreview relative mainCompareContainer">
                           <div class="next-page "><i class="pg-arrow_lright_line_alt"></i></div>
                           <div class="prev-page "><i class="pg-arrow_left_line_alt"></i></div>
                           <div class="no-style text-center v-align-bottom " id="owl-shoes">
                               {{#each compareShoes}}
                                   <div class="carousel mainCompareCarousel text-center no-overflow">
                                       <a  href="{{this.productUrl}}"  rel="nofollow"  target="_blank">
                                           <div class="relative">
                                               <img class="lazyOwl full-width" data-src="{{{this.mainPicture.largeUrl}}}"/>
                                               <div class="overlayer hidden-xs bottom-left full-width">
                                                   <div class="overlayer-wrapper item-info more-content">
                                                       <div class="gradient-black p-l-20 p-r-20 p-t-20 p-b-5">
                                                           <a target="_blank" href="{{this.productUrl}}" rel="nofollow">
                                                               <button class="btn btn-default sbold"> Go to shop</button>
                                                           </a>
                                                           <div class="m-t-5">
                                                               <a class="light sbold text-white " href="/bästa-pris-för/{{{urlFriendly this.name}}}-{{this._id}}">
                                                                   <i class="pg-italic"></i>More information
                                                               </a>
                                                           </div>

                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </a>
                                       <a  href="this.productUrl" rel="nofollow" target="_blank">
                                           <p class="text-center no-margin bold b-b">{{this.brand.name}}
                                               {{#if this.isItSaving}}<br/> <span class="text-velvet" style="font-size: 12px;"><i><img src="/images/nav/compare.png" style="width:20px; height: auto;"></i>Spara <b>{{this.saving}}</b> ({{this.savingPercentage}}%)</span> {{/if}}
                                           </p>
                                       </a>
                                       <table class="auto-margin compareTable table-condensed" >
                                           {{#each this.articles.shops}}
                                               <tr class="no-padding no-margin b-b p-t-5 b-grey">
                                                   <td class="inline no-padding p-t-5 p-b-5 v-align-middle no-margin ">
                                                       <a target="_blank"  rel="nofollow"  href="{{this.lowest.articleUrl}}">
                                                           <img width="60" id="shopImage" src="{{this.shop.logoUrl}}"/>
                                                       </a>
                                                   </td>
                                                   <td class="inline color no-overflow-text no-padding p-t-5 p-b-5 v-align-middle no-margin p-l-20 p-xs-l-5">
                                                       <a target="_blank"  rel="nofollow"  href="{{this.lowest.articleUrl}}">
                                                           <p class="no-margin v-align-middle"><small>{{this.lowest.color}} </small></p>
                                                       </a>
                                                   </td>
                                                   <td class="inline price no-padding p-t-5 p-b-5 v-align-middle no-margin p-l-20 p-xs-l-5">
                                                       <a target="_blank"  rel="nofollow"  href="{{this.lowest.articleUrl}}">
                                                           <p class="no-margin no-overflow-text v-align-middle">{{this.lowest.price.formatted}}  {{#if this.shop.freeReturn}}<b class=" fs-10 bold text-velvet"> Free Return</b>{{/if}}</p>
                                                       </a>
                                                   </td>
                                               </tr>
                                           {{/each}}
                                       </table>
                                       <div class="text-center visible-xs p-t-10">
                                           <a class="dark sbold fs-10 " href="/bästa-pris-för/{{{urlFriendly this.name}}}-{{this._id}}">
                                               <i class="pg-italic"></i>More information
                                           </a>
                                       </div>
                                   </div>
                               {{/each}}
                           </div>
                       </div>
                   </div>
               </div>
           {{/if}}-->





           <div class="row m-t-100 m-xs-t-30" >
                <div class="no-padding m-t-20 m-b-50 m-xs-t-0 full-width text-center p-xs-l-10 bg-image p-xs-r-10" id="findStyles">
                    <h2 class="text-center text-black medium all-caps  ">
                        Hitta stiler och jämför priser
                    </h2>

                    <p class="bold text-master-dark">
                        Jämför samma stil till olika priser på kläder, skor och accessoarer. Det bästa priset för en och samma stil!
                    </p>
                </div>
                <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
                    <div>
                            <div class="feed" data-page="1" data-total-pages="{{feed.pages}}">
                                {{> feed_Back}}
                            </div>
                        {{#unless (compareNumber  1 feed.pages)}}
                            <div class="text-center p-t-20 p-b-20">
                             <btn id="loadMoreFeed" class="btn btn-velvet bold circle">
                                 Load More

                             </btn>
                             <div id="moreFeedLoader" class=" text-center" style="display: none;">
                                 <img src='/dist/images/progress/progress-circle-danger.svg' style="width:60px; height: 60px;"/>
                             </div>
                         </div>
                        {{/unless}}
                    </div>
                 </div>
               <!-- <div class="col-md hidden-sm hidden-xs relative">
                        <div id="sideBanner" >
                            <p class="hint-text no-margin no-padding all-caps medium p-l-5"style="font-size: 8px; line-height: 8px;">annons</p>
                            <a href="http://ad.zanox.com/ppc/?38687671C1960088891T" target="_blank"><img src="http://ad.zanox.com/ppv/?38687671C1960088891" align="bottom" width="120" height="600" border="0" hspace="1" alt="River Island Women"></a>
                        </div>
                </div>-->
            </div>


           <div id="ourPartners" class="m-t-30 m-b-30 p-t-20 p-b-20 hidden-xs">
               <div class="row p-t-5 shopLogo">
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow" href="http://ad.zanox.com/ppc/?38716083C1837840187T"><img alt="asos-logo" src="/dist/images/shop-logos/asos.png" height="38" width="auto"/></a></div>
                   <div class="col-xs-3 text-center"> <a target="_blank" rel="nofollow" href="https://clk.tradedoubler.com/click?p=227648&a=2845810&g=22955234"><img alt="boozt-logo" src="/dist/images/shop-logos/boozt.png" width="auto" height="32"/></a></div>
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow" href="https://clk.tradedoubler.com/click?p=246777&a=2845810&g=21733454"><img alt="daniel-wellington-logo" src="/dist/images/shop-logos/danielwellington.png" width="auto" height="45"/></a></div>
                   <div class="col-xs text-center "><a target="_blank" rel="nofollow" class="m-t-5" href="https://clk.tradedoubler.com/click?p=151948&a=2845810&g=18352288"><img alt="ellos-logo" src="/dist/images/shop-logos/ellos.png" width="auto" height="35"/></a></div>
               </div>

               <div class="row p-t-5 shopLogo">
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow" href="http://ad.zanox.com/ppc/?38526299C41157032T"><img alt="mr-porter-logo" src="/dist/images/shop-logos/mrporter.png" width="auto" height="38"/></a></div>
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow" href="https://clk.tradedoubler.com/click?p=270159&a=2845810&g=23120192"><img alt="nakd-logo" src="/dist/images/shop-logos/nakd.png" width="auto" height="30"/></a></div>
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow" href="https://clk.tradedoubler.com/click?p=17833&a=2845810&g=17114610"><img alt="nelly-logo" src="/dist/images/shop-logos/nelly.png" width="auto" height="36"/></a></div>
                   <div class="col-xs text-center"><a target="_blank" rel="nofollow" href="http://ad.zanox.com/ppc/?38093533C37559022T"><img class="m-t-5" alt="river-island-logo" src="/dist/images/shop-logos/riverisland.png"  width="auto" height="23"/></a></div>
               </div>

               <div class="row shopLogo" >
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow"  href="https://ad.zanox.com/ppc/?38718725C26195304&ulp=[[http://www.farfetch.com]]"><img class="m-t-10" alt="farfetch-logo"  src="/dist/images/shop-logos/farfetch.png" width="auto" height="26"/></a></div>
                   <div class="col-xs-3 text-center"><a target="_blank"  rel="nofollow" href="http://ad.zanox.com/ppc/?38223421C59905408T"><img class="m-t-0"  src="/dist/images/shop-logos/happysocks.png" alt="happysocks-logo" width="auto" height="50"/></a></div>
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow" href="http://ad.zanox.com/ppc/?38514929C65783720T"><img class="m-t-10"  src="/dist/images/shop-logos/hope.png" alt="hope-logo" width="auto" height="28"/></a></div>
                   <div class="col-xs text-center"><a target="_blank" rel="nofollow" href="http://ad.zanox.com/ppc/?38129541C17502336T"><img class="m-t-10"  src="/dist/images/shop-logos/miinto.png" alt="miinto-logo" width="auto" height="30"/></a></div>
               </div>



               <div class="row p-t-15 shopLogo">
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow" href="http://ad.zanox.com/ppc/?38327053C74631457T"><img src="/dist/images/shop-logos/sarenza.png" alt="sarenza-logo" style="margin-top:4px;" width="auto" height="22"/></a></div>
                   <div class="col-xs-3 text-center"><a target="_blank"rel="nofollow"  href="http://ad.zanox.com/ppc/?38147178C67665694T"><img src="/dist/images/shop-logos/stylepit.png" alt="stylepit-logo" width="auto" height="30"/></a></div>
                   <div class="col-xs-3 text-center"><a target="_blank" rel="nofollow"  href="http://ad.zanox.com/ppc/?38165721C89270335T"><img src="/dist/images/shop-logos/topman.png" alt="topman-logo" style="margin-top:4px;" width="auto" height="22"/></a></div>
                   <div class="col-xs text-center hidden-sm hidde-xs"><a rel="nofollow" target="_blank" rel="nofollow" href="http://ad.zanox.com/ppc/?38637325C44813741T"><img alt="urban-outfitters-logo" src="/dist/images/shop-logos/urban-outfitters.png" width="auto" height="34"/></a></div>
               </div>

           </div>
       </div>
    </section>
    {{>loading}}
    {{>footer}}
</div>
<script type="text/javascript" src="/javascripts/other/home.js"> </script>

