\{{#if more}} 
<a id="ddsearchMore" href="\{{linkHref}}"><h5 class="b-b b-t b-r b-l"><font class="text-pink-darker bold">\{{nbHits}}</font> \{{text}} </h5></a> 
\{{else}} 
<a class="findBetterPrices dark" _id="\{{objectID}}" href="/view/\{{objectID}}"><div data-id="\{{objectID}}"  href="/view/\{{objectID}}" class="productsAC m-b-5 text-left">
    <div><img src="\{{{mainPicture.smallUrl}}}" width="40" height="auto"/></div>
    <div class="b-b b-grey relative" style="font-size:12px;">  
        <div> 
            <div class=" bold">\{{{ brand.name}}}</div> 
            <div class="medium">\{{{ _highlightResult.name.value }}}</div> 
            <div class="medium inline">\{{{ price.formatted}}}</div> 
            </div>
        <div class="bottom-right hidden-xs visible-hover">  
            </div>
        </div></div></a>
\{{/if}}