
\{{#each feed.docs}}
    <div class="productFeedTemplate m-b-20"  >
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p-t-30 bg-white" style="border:1px solid #eee; border-radius: 5px; box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);">
                <h3 class="all-caps text-spaced-medium text-center p-b-20 p-l-20 p-r-20">\{{this.name}}</h3>
                <div class="images row text-center" >
                    <div class="col-md-6 col-sm-6 col-xs-6 imageInspire inline relative no-padding p-l-10 ">
                        <h4 class="text-center no-padding no-margin " style="border-bottom: 1px solid #eee;line-height: 0;">
                            <span class="bg-white p-l-10 p-r-10 all-caps text-spaced-medium">Style</span>
                        </h4>
                        <a target="_blank" href="\{{this.styleProduct.productUrl}}"> <img class="p-t-10"  src="\{{this.styleProduct.mainPicture.largeUrl}}"/></a>
                        <div class="">
                            <h4 class="text-center text-black no-margin no-padding medium">\{{this.styleProduct.price.formatted}}</h4>
                            <p class="text-center text-black no-margin no-padding medium">\{{this.styleProduct.brand.name}}</p>
                            <a class="text-velvet bold" target="_blank" href="\{{this.styleProduct.productUrl}}"><button class="btn btn-tag ">SHOPPA NU</button></a>
                        </div>
                    </div>
                    <div class="col-md col-sm col-xs imageCheap inline relative no-padding p-r-10 " >
                        <h4 class="text-center no-padding no-margin " style="border-bottom: 1px solid #eee;line-height: 0;">
                            <span class="bg-white p-l-10 p-r-10 all-caps  text-spaced-medium">Price</span>
                        </h4>


                        <a target="_blank" href="\{{this.priceProduct.productUrl}}"><img class="p-t-10" src="\{{this.priceProduct.mainPicture.largeUrl}}"/></a>

                        <div class="">
                            <h4 class="text-center text-black no-margin no-padding medium">\{{this.priceProduct.price.formatted}}</h4>
                            <p class="text-center text-black no-margin no-padding ">\{{this.priceProduct.brand.name}}</p>
                            <a class="text-velvet bold" target="_blank" href="\{{this.priceProduct.productUrl}}"><button class="btn btn-tag">SHOPPA NU</button></a>
                        </div>

                    </div>
                </div>
                \{{#if this.saving}}
                    <div class="circle text-center  m-xs-t-15 m-xs-r-15"style="top:400px; " >
                        <div class=" text-white  fs-14 all-caps bold bg-velvet-dark p-t-5 p-b-5 text-spaced medium"> <span class="circler">Spara  \{{this.saving.value}}</span> </div>
                    </div>
                \{{/if}}
                <div class="text-center m-t-5 padding-30 b-t b-grey">

                    <p>\{{this.description}}</p>
                    <div>
                        <a class="text-velvet b-b bold all-caps" href="\{{categoryLink}}">MER \{{categoryName}}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
\{{/each}}