<html>
<head>
    <title>Price Card</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Bringing brands to you, customize your shopping experience and find out the flash offers from your favourite brands."  />
    <meta content="Brantu" name="author" />

    <meta name="verification" content="f851a1b5b1329e21b3fe0e610bb66367" />
    <!-- TradeDoubler site verification 2845825 -->

    <!--***********************************************************************
    **********************************  STYLE SHEETS ***************************
    ************************************************************************-->

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <!--Plugins / THIRDPARY-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/flexboxgrid.min.css"/>
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/normalize.css" />
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/plugins/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" />
    <link href="/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/pages-icons.css" rel="stylesheet" type="text/css"/>



    <!--VENDOR-->
    <link  href="/stylesheets/pages.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/generic.css" rel="stylesheet" type="text/css" />

</head>
<body class="fixed-header"  style="background: white;">


        <div class="productFeedTemplate "  >
        <div class="row">
            <div style="border:1px solid #eee; border-radius: 5px; padding-top:30px; text-align: center;">
                <h3  style="font:400 21px/21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight:100; font-size:24px; letter-spacing: 6px;">{{priceCard.name}}</h3>
                <div style="display: block; margin: auto;">
                    <div style="width:42%; display: inline-block; vertical-align: top; padding: 0 20px;">
                        <h4 class="text-center no-padding no-margin " style="border-bottom: 1px solid #333;line-height: 0;">
                            <span style="font:400 18px/21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:100; text-transform: uppercase; padding: 10px 10px 10px 10px;letter-spacing: 4px; text-align: center; background-color: #ffffff;">Style</span>
                        </h4>
                        <img class="full-width p-t-10" style="height:500px;  max-width:100%;vertical-align: top;"  src="{{priceCard.styleImage}}"/>
                        <div class="">
                            <h2 style="font:400 24px/21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:0; font-size:20px; line-height: 24px;">{{priceCard.stylePrice}}</h2>
                            <p style="font:400 18px/21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:0; line-height: 18px;">{{priceCard.styleBrand}}</p>
                        </div>
                    </div>


                    <div style="width:42%; position: relative; vertical-align: top; display: inline-block; padding: 0 20px;" >
                        <h4 class="text-center no-padding no-margin " style="border-bottom: 1px solid #333;line-height: 0;">
                            <span style="font:400 18px/21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:100; text-transform: uppercase; padding: 10px 10px 10px 10px; letter-spacing: 4px; text-align: center; background-color: #ffffff;">Price</span>
                        </h4>
                        <img class="full-width p-t-10" style="height:500px; max-width:100%; vertical-align: top; " src="{{priceCard.priceImage}}"/>
                        <div class="">
                            <h2 style="font:400 24px/21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:0; font-size:20px; line-height: 24px;">{{priceCard.pricePrice}}</h2>
                            <p style="font:400 18px/21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:0; line-height: 20px;">{{priceCard.priceBrand}}</p>
                            {{#if priceCard.saving}}
                                <h5 style="font:400 18px/21px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:100; text-transform: uppercase; padding:0; margin:0px; letter-spacing: 4px; line-height: 18px;  text-align: center; color:#AA076B;">Save {{priceCard.saving.value}} ({{priceCard.saving.discount}}%)</h5>
                            {{/if}}
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>


</body>
</html>