<div id="headerMainContainer" data-department="{{encodeDepartment selectedDepartment}}">
    <div class="header" >
        <div class="bg-black full-width hidden-xs">
            <div class="container relative">
                <div class="pull-right">
                    <div class="text-right p-t-5">
                        <ul class="no-padding no-margin text-white bold all-caps fs-11 p-r-15">
                            <li class="inline p-r-10">
                                <a class="bright" href="/how-it-works">
                                    Hur fungerar det?
                                </a>
                            </li>
                            <li class="inline p-r-10">
                                <a class="bright" href="/about-us">
                                    om oss
                                </a>
                            </li>
                            <li class="inline">
                                <a class="bright" href="/contact-us">
                                    kontakta oss
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h6 class="bold text-white all-caps inline">
                    Brantu hjälper dig att jämföra och hitta rätt plagg till rätt pris online
                </h6>
            </div>
        </div>
        <div class="bg-white b-b b-grey">
            <div class="container">
                <div class="mobile">
                    <div class="top-right" style="padding-top: 9px; z-index:30;">
                        <div class="relative visible-xs">
                            <ul class="no-style">
                                <li class="inline relative">
                                    <div>
                                        <img src="/dist/images/nav/search_filled.png" alt="search-icon" style="width:45px; padding-right: 5px;"/>
                                    </div>
                                    <input class="fakeMobileSearchButton" />
                                </li>
                                <li class="inline authenticate" data-view="login">
                                    <div style="padding-right: 5px">
                                        <img src="/images/nav/login.svg" alt="search-icon" style="width:21px;" />
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="top-left p-l-5 visible-xs p-t-10 p-r-5 p-l-15" id="menuBurgerIcon" >
                        <div id="header-nav-mobile" class="header-nav-mobile">
                            <button type="button" class="toggle-navigation visible-xs">
                                <span class="sr-only">Navigation</span>
                                <span class="icon-bar top-bar"></span>
                                <span class="icon-bar middle-bar"></span>
                                <span class="icon-bar bottom-bar"></span>
                            </button>
                            <ul class="dropdown-menu list-unstyled visible-xs" role="menu" aria-labelledby="dLabel">
                                <div id="header-push-mobile" class="header-push-mobile">
                                    {{> side-menu}}
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="top-left bottom-right visible-xs bg-master-lighter  b-t b-r b-l b-grey b-b hidden" id="searchMobileContainer" style="z-index: 200;">
                        <div class="row relative">
                            <div class="col-xs-12 search-mobile m-t-5 m-l-5">
                                <form id="searchMobileForm">
                                    <input type="submit" class="hidden"/>
                                    <input type="text" placeholder="Sök produkter och jämför priser" id="searchMobile"/>
                                    <div class="dropdown" style="padding-top:5px; ">
                                        <div class="dropdown-menu" id="mobileContainerHintAC">
                                            <div class="p-l-25 p-t-5">
                                                Sök och jämför priser från alla de stora shoppingsiterna inom mode
                                                <ul>
                                                    <li class="medium">Produkter</li>
                                                    <li class="medium">Märken</li>
                                                    <li class="medium">Stil eller kategori</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ACSearchProgress hidden" id="searchBarLoading" >
                                        <div class=" text-center">
                                            <img src='/dist/images/progress/progress-circle-danger.svg' alt="loading" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="top-right p-t-10 p-b-10 p-l-15 p-r-15" id="CloseSearchMobile">
                                <a class="dark no-border"><i class="pg-close_line fa-2x"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div  id="headerMainWrapper">
                    <div id="headerMain" >
                        <div class="row relative">
                            <div class="col-sm full-width visible-xs">
                                <div class=" sm-table">
                                    <div class="header-inner auto-margin text-center">
                                        <div class="brand p-xs-t-5">
                                            <div class="auto-margin block m-t-10" id="mainLogoContainter" >
                                                <a href="/" class="m-t-15">
                                                    <div class="mainLogo ">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inline" id="logoSection">
                                    <div class=" sm-table">
                                        <div class="">
                                            <div class="" style="width: auto;">
                                                <div class="relative inline">
                                                    <a href="/">
                                                        <div class="mainLogo">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div >
                            <div class="inline v-align-top relative" id="searchSection">
                                <div class=" hidden-xs ">
                                        <div class="auto-margin block relative p-t-5 p-l-40 text-center" >
                                            <form id="autocompleteForm">
                                                <div class="search-link">
                                                    <input type="text" placeholder="Sök och jämför priser" id="search"/>
                                                    <div class="dropdown">
                                                        <div class="dropdown-menu styleTip" id="containerHintAC">
                                                            <div class="p-l-30 p-t-10 all-caps">
                                                                    <font class="bold">Sök och jämför priser från alla shoppingsiter</font>
                                                                    <ul>
                                                                        <li class="medium">Produkter</li>
                                                                        <li class="medium">Märken</li>
                                                                        <li class="medium">Stil eller kategori</li>
                                                                    </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ACSearchProgress hidden"  >
                                                        <div class=" text-center">
                                                            <img src='/dist/images/progress/progress-circle-danger.svg' alt="search-loading-icon" style="width:30px; height: 30px;"/>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="search-button"><i class=" pg-search"></i></button>
                                                </div>
                                            </form>
                                        </div>

                                </div>
                            </div>
                            <div class="p-t-5 top-right hidden-xs ">
                                <!-- START User Info-->

                                {{#if user}}
                                    <div class=" pull-right ">
                                        <div class="dropdown pull-right hidden-xs p-t-5">
                                            <button class="profile-dropdown-toggle"  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{#if user.facebook.name}}
                                                    <span class="thumbnail-wrapper circular d32  bold  inline all-caps" style="font-size:16px; border:1px solid #9E8130; background: #000;  color:#9E8130; padding-top:4px;" id="avatar">
                                                        {{trimForAvatar user.facebook.name}}
                                                    </span>

                                                {{else}}
                                                    <span class="thumbnail-wrapper circular d32  bold   inline all-caps " style="font-size:16px; border:1px solid #9E8130; background: #000; color:#9E8130; padding-top:4px; " id="avatar">
                                                        {{trimForAvatar user.local.email}}
                                                    </span>
                                                {{/if}}
                                            </button>
                                            <ul class="dropdown-menu profile-dropdown" role="menu">
                                                <li class="bold visible-sm visible-xs"><a href="/favourite-products"  class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/favourite.png" alt="favourite-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Favourite</span></a>
                                                </li>
                                                <li class="bold "><a href="/settings"  class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/settings.png" alt="settings-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Inställningar</span></a>
                                                </li>
                                                <li class="bold "><a href="/contact-us" class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/contact.png" alt="contact-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Contact</span></a>
                                                </li>
                                                <li class="bold "><a href="/about-us" class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/about.png" alt="about-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">About</span></a>
                                                </li>
                                                <li class="bold" style="margin-top: 0;"><a href="/logout" class="bold b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/logout.png" alt="logout-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Logga Ut</span></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="hidden-xs pull-right visible-sm visible-md">
                                        <div class="dropdown pull-right p-t-10 p-b-15">
                                            <button class="profile-dropdown-toggle rotate-90" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="pg-more text-black fa-2x" width="12" style="font-size: 25px;"></i>
                                            </button>
                                            <ul class="dropdown-menu profile-dropdown" role="menu" style="top:102%;right: -25%;
        ">
                                                <li class="bold authenticate visible-md visible-sm visible-xs" data-view="login"><a  class="bold b-b b-transparent-white text-white">
                                                    <i style="padding-top: 3px;"><img alt="favourite-navigation-icon" src="/images/nav/login.png" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Log in</span></a>
                                                </li>
                                                <li class="bold authenticate visible-md visible-sm visible-xs" data-view="signup"><a  class="bold b-b b-transparent-white text-white">
                                                    <i style="padding-top: 3px;"><img alt="favourite-navigation-icon" src="/images/nav/signup.png" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Sign up</span></a>
                                                </li>
                                                <li class="bold visible-sm visible-xs"><a href="/favourite-products"  class="bold b-b b-transparent-white text-white">
                                                    <i style="padding-top: 3px;"><img alt="favourite-navigation-icon" src="/dist/images/nav/favourite.png" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Favourite</span></a>
                                                </li>
                                                <li class="bold "><a href="/contact-us" class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/contact.png" alt="contact-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Contact</span></a>
                                                </li>
                                                <li class="bold " style="margin-top: 0;"><a href="/about-us" class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/about.png" alt="about-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">About</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                        <div class="hidden-xs hidden-sm hidden-md pull-right nav-margin-small">
                                            <ul class="nav navbar-nav">
                                                <li data-view="login" class="authenticate no-overflow-text "><a class="dark bold no-overflow-text " >Logga In </a></li>
                                                <li class="login  p-t-15">|</li>
                                                <li data-view="signup" class="authenticate no-overflow-text"><a class="dark bold no-overflow-text " >Bli medlem</a></li>
                                            </ul>
                                        </div>
                                {{/if}}
                                    <div class="visible-lg visible-md pull-right hidden-sm hidden-xs nav-margin p-t-5" >
                                        <ul class="notification-list no-margin  no-style inline" id="preference-center" >
                                            <li class="inline relative p-l-25">
                                                <a {{#if user}} href="/favourite-products" {{else}} data-view="signup" class="authenticate"{{/if}}>
                                                    <div id="likedProducts">
                                                        <i class="pg-shopping_cart" data-toggle="tooltip" data-placement="bottom" title="Price watcher" class="text-velvet">

                                                        </i>
                                                    </div>
                                                    {{#if user}} <div class="bubble sideBarFavouriteProducts" id="nbFavoProduct"> <span> {{#if nbFavProducts}}{{nbFavProducts}}{{else}} 0 {{/if}}</span></div> {{/if}}
                                                </a>
                                            </li>

                                            <li class="inline relative p-l-25">
                                                <a  href="/users/cart" id="cart-center" >
                                                    <div id="cart">
                                                        <i data-toggle="tooltip" data-placement="bottom" title="Cart" class="text-velvet pg-bag"></i>
                                                    </div>
                                                     <div class="bubble sideBarFavouriteProducts" id="nbFavoProduct"> <span> {{#if nbCart}}{{nbCart}}{{else}} 0 {{/if}}</span></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                <!-- END User Info-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-width bg-white" id="containerAC"></div>
                <div class="full-width bg-white" id="mobileContainerAC"></div>
            </div>
        </div>
        <div class="b-b b-black bg-white" >
            <div class="container">
                <div id="navbarDepartment">
                    <div class="hidden-xs full-width menu   b-grey bg-white" id="navSubCategory" >
                        <div class="">
                            <ul class="nav navbar-nav ">
                                {{#each categoryTree}}
                                    <li class="" style="padding-left: 0">
                                        <a class="all-caps text-spaced light
                                        {{#if (compareStrings this.department.name ../selectedDepartment)}}sbold bg-black text-white {{else}} bold text-purple{{/if}}"  key="{{this.department.key}}" href="/{{this.department.key}}/"
                                        style="padding-top:8px; padding-bottom: 8px;">
                                            {{this.department.name}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <ul class="m-l-100 nav navbar-nav submenu">
                            {{#if (compareStrings selectedDepartment 'kvinna')}}
                                <li class=" "><a class="dark all-caps text-spaced-medium fs-11   text-center" href="/{{selectedDepartment}}" data-page data-avoid><i class="pg-home"></i>hem</a></li>
                                {{#each categoryTree}}
                                    {{#if (compareStrings this.department.name ../selectedDepartment)}}
                                        {{#each categories}}
                                            <li class="expand"><a href="{{{category.url}}}" class="dark all-caps text-spaced-medium fs-11  text-center"  data-key="{{category.key}}">{{andfixer category.name}}</a></li>
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            {{else}}
                                {{#if (compareStrings selectedDepartment 'man')}}
                                    <li class=" "><a class="dark all-caps text-spaced-medium fs-11 text-center" href="/{{selectedDepartment}}" data-page data-avoid><i class="pg-home"></i>Hem</a></li>

                                    {{#each categoryTree}}
                                        {{#if (compareStrings this.department.name ../selectedDepartment)}}
                                            {{#each categories}}
                                                <li class="expand"><a href="{{{category.url}}}" class="dark all-caps text-spaced-medium fs-11 expand text-center"  data-key="{{category.key}}">{{andfixer category.name}}</a></li>
                                            {{/each}}
                                        {{/if}}
                                    {{/each}}
                                {{else}}
                                    <li class="full-width "><a  class="dark all-caps text-spaced-medium fs-11   bold text-center" data-page style="border-bottom: 2px solid transparent !important;"><i class="pg-arrow_left"></i>välj MAN eller KVINNA för att börja fynda</a></li>
                                {{/if}}
                            {{/if}}
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div id="expandDepartment" class="container">
            <div id="category-expand-parent" class="hidden " style=" background: transparent;">
                <div class=" p-l-50 bgBlurEffect  category-expand-wrapper relative b-l b-r b-b" style="opacity:0; background: rgba(255,255,255,0.98); width:1000px; height: 250px;" id="expandDepartmentWrapper">
                    {{#each categoryTree}}
                        {{#if (compareStrings this.department.name ../selectedDepartment)}}
                            {{#each categories}}
                                <div class="category-expand-container hidden  padding-1v" expand-parentKey="{{category.key}}">
                                    <div class="category-expand">
                                        <div class="">
                                            <a href="{{{category.url}}}"><h4 class="sbold text-spaced-medium all-caps b-b b-grey text-black">{{andfixer category.name}}</h4></a>
                                            <div class="inline">
                                                <div class="desktopNavColoumns p-b-20">
                                                    <ul>
                                                        {{#each subCategory}}
                                                            <li class="full-width b-grey b-b m-b-10" style=""><a class=" fs-14 dark  bold"  href="{{{this.url}}}">
                                                                {{andfixer this.name}}
                                                            </a></li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                    {{#if (compareStrings 'kvinna' selectedDepartment)}}
                        <div class="bottom-right p-r-40" >
                            <a href="http://ad.zanox.com/ppc/?39585183C1076049580T"><img src="http://ad.zanox.com/ppv/?39585183C1076049580" align="bottom" width="200" height="200" border="0" hspace="1" alt="female_outlet_200x200"></a>
                        </div>
                    {{else}}
                        <div class="bottom-right p-r-40" >
                            <a href="http://ad.zanox.com/ppc/?38687752C882786159T"><img   src="http://ad.zanox.com/ppv/?38687752C882786159" align="bottom" width="300" height="250" border="0" hspace="1" alt="Shoes 300 x 250"></a>
                        </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>

</div>























