<div id="headerMainContainer" data-department="{{encodeDepartment selectedDepartment}}">
    <div class="header" >
        <div class="bg-white boxshadowed">
            <div class="container">
                <div class="mobile">
                    <div class="top-right" id="menuSearchIcon" style="padding-top: 9px; display: none;">
                        <div class="relative">
                            <div>
                                <img src="/dist/images/nav/search_filled.png" alt="search-icon" style="width:50px; padding-right: 5px;"/>
                            </div>
                            <input class="fakeMobileSearchButton" />
                        </div>

                    </div>
                    <div class="top-left p-l-5 visible-xs p-t-10" id="menuBurgerIcon" >
                        <div>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="50px" height="30px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
        <line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="11.324" x2="48" y2="11.324"/>
        <line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="23.324" x2="48" y2="23.324"/>
        <line fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" x1="2" y1="35.324" x2="48" y2="35.324"/>
        </svg>

                        </div>
                    </div>
                    <div class="top-left bottom-right visible-xs bg-master-lighter  b-t b-r b-l b-grey b-b hidden" id="searchMobileContainer" style="z-index: 200;">
                        <div class="row relative">
                            <div class="col-xs-12 search-mobile m-t-5 m-l-5">
                                <form id="searchMobileForm">
                                    <input type="submit" class="hidden"/>
                                    <input type="text" placeholder="Sök produkter och jämför priser" id="searchMobile"/>
                                    <div class="dropdown" style="padding-top:5px; ">
                                        <div class="dropdown-menu" id="mobileContainerHintAC">
                                            <div class="p-l-25 p-t-5">
                                                You can search for
                                                <ul>
                                                    <li class="medium text-velvet">Products</li>
                                                    <li class="medium text-velvet">Brands</li>
                                                    <li class="medium text-velvet">Styles/category</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ACSearchProgress hidden" id="searchBarLoading" >
                                        <div class=" text-center">
                                            <img src='/dist/images/progress/progress-circle-danger.svg' alt="loading" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="top-right p-t-10 p-b-10 p-l-15 p-r-15" id="CloseSearchMobile">
                                <a class="dark no-border"><i class="pg-close_line fa-2x"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div  id="headerMainWrapper">
                    <div class=" " id="headerMain" >
                        <div class="row relative">
                            <div class="col-sm full-width visible-xs">
                                <div class=" sm-table">
                                    <div class="header-inner auto-margin text-center">
                                        <div class="brand p-xs-t-5">
                                            <div class="auto-margin block m-t-10" id="mainLogoContainter" >
                                                <a href="/" class="m-t-15">
                                                    <div class="mainLogo ">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="inline" id="logoSection">
                                    <div class=" sm-table">
                                        <div class="">
                                            <div class="" style="width: auto;">
                                                <div class="relative inline">
                                                    <a href="/">
                                                        <div class="mainLogo">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="v-align-top  p-t-10 inline">
                                                    <div class="b-l  p-l-10">
                                                        <ul class=" no-style ">
                                                            {{#each categoryTree}}
                                                                <li class="v-align-top ">
                                                                    <a class="all-caps text-spaced fs-13  p-r-10 p-l-10  {{#if ../selectedDepartment}}{{#if (compareStrings this.department.name ../selectedDepartment)}}sbold bg-black b-rad-lg text-white {{else}} bold text-purple{{/if}}{{/if}}"  key="{{this.department.key}}" href="/{{this.department.key}}/">
                                                                        {{this.department.name}}</a>
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div >
                            <div class="inline v-align-top relative" id="searchSection">
                                <div class=" hidden-xs ">
                                    {{#if selectedDepartment}}
                                        <div class="auto-margin block relative p-t-5 p-l-40 text-center" >
                                            <form id="autocompleteForm">
                                                <div class="search-link">
                                                    <input type="text" placeholder="Sök och jämför priser" id="search"/>
                                                    <div class="dropdown">
                                                        <div class="dropdown-menu styleTip" id="containerHintAC">
                                                            <div class="p-l-10 p-t-10 all-caps">
                                                                You can search for
                                                                <ul>
                                                                    <li class="medium text-velvet">Products</li>
                                                                    <li class="medium text-velvet">Brands</li>
                                                                    <li class="medium text-velvet">Styles/category</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ACSearchProgress hidden"  >
                                                        <div class=" text-center">
                                                            <img src='/dist/images/progress/progress-circle-danger.svg' alt="search-loading-icon" style="width:30px; height: 30px;"/>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="search-button"><i class=" pg-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>

                            <div class="p-t-5 top-right hidden-xs">
                                <!-- START User Info-->
                                {{#if user}}
                                    <div class="hidden-xs pull-right ">
                                        <div class="dropdown pull-right" >
                                            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{#if user.facebook.name}}
                                                    <span class="thumbnail-wrapper circular d32  bold  inline all-caps" style="font-size:16px; border:2px solid rgba(0,0,0,0.7); color:#e5a3ad; padding-top:4px;" id="avatar">
                                                        {{trimForAvatar user.facebook.name}}
                                                    </span>

                                                {{else}}
                                                    <span class="thumbnail-wrapper circular d32  bold   inline all-caps " style="font-size:16px; border:3px solid rgba(111,111,111,0.7); color:#ffb6c1; padding-top:4px; " id="avatar">
                                                        {{trimForAvatar user.local.email}}
                                                    </span>
                                                {{/if}}

                                            </button>
                                            <ul class="dropdown-menu profile-dropdown" role="menu">
                                                <li class="bold visible-sm visible-xs"><a href="/favourite-products"  class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/favourite.png" alt="favourite-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Favourite</span></a>
                                                </li>
                                                <li class="bold "><a href="/settings"  class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/settings.png" alt="settings-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Inställningar</span></a>
                                                </li>
                                                <li class="bold "><a href="/contact-us" class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/contact.png" alt="contact-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Contact</span></a>
                                                </li>
                                                <li class="bold "><a href="/about-us" class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/about.png" alt="about-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">About</span></a>
                                                </li>
                                                <li class="bold" style="margin-top: 0;"><a href="/logout" class="bold b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/logout.png" alt="logout-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Logga Ut</span></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="hidden-xs pull-right ">
                                        <div class="dropdown pull-right p-t-10 p-b-15">
                                            <button class="profile-dropdown-toggle rotate-90" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="pg-more text-black fa-2x" width="12" style="font-size: 25px;"></i>
                                            </button>
                                            <ul class="dropdown-menu profile-dropdown" role="menu" style="top:102%;right: -25%;
        ">
                                                <li class="bold visible-sm visible-xs"><a href="/favourite-products"  class="bold b-b b-transparent-white text-white">
                                                    <i style="padding-top: 3px;"><img alt="favourite-navigation-icon" src="/dist/images/nav/favourite.png" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Favourite</span></a>
                                                </li>
                                                <li class="bold "><a href="/contact-us" class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/contact.png" alt="contact-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">Contact</span></a>
                                                </li>
                                                <li class="bold " style="margin-top: 0;"><a href="/about-us" class="bold b-b b-transparent-white text-white">
                                                    <i><img src="/dist/images/nav/about.png" alt="about-navigation-icon" style="width:26px;"/></i>
                                                    <span class="v-align-middle">About</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {{#if selectedDepartment}}
                                        <div class="hidden-xs pull-right nav-margin-small">
                                            <ul class="nav navbar-nav">
                                                <li data-view="login" class="authenticate no-overflow-text "><a class="dark bold no-overflow-text " >Logga In </a></li>
                                                <li class="login text-pink-dark p-t-15">|</li>
                                                <li data-view="signup" class="authenticate no-overflow-text"><a class="dark bold no-overflow-text " >Bli medlem</a></li>
                                            </ul>
                                        </div>
                                    {{/if}}
                                {{/if}}

                                {{#if selectedDepartment}}
                                    <div class="visible-lg visible-md pull-right hidden-sm hidden-xs nav-margin p-t-5" >
                                        <ul class="notification-list no-margin  no-style inline">
                                            <li class="inline relative" >
                                                <a class="" href="/favourite-products"  id="preference-center" >

                                                    <div class="" id="likedProducts" style="">
                                                        <i class=" text-black pg-like1"></i>
                                                    </div>
                                                    <div class="bubble sideBarFavouriteProducts" id="nbFavoProduct"> <span> {{#if nbFavProducts}}{{nbFavProducts}}{{else}} 0 {{/if}}</span></div>
                                                </a>

                                        </ul>
                                    </div>
                                {{/if}}



                                <!-- END User Info-->
                            </div>
                        </div>
                    </div></div>
                <div class="full-width bg-white" id="containerAC"></div>
                <div class="full-width bg-white" id="mobileContainerAC"></div>

                <div id="navbarDepartment">
                    {{#if selectedDepartment}}
                        <div class="hidden-xs full-width menu   b-grey bg-white" id="navSubCategory" >
                            <ul class="nav navbar-nav submenu">
                                <li class=" "><a class="dark all-caps text-spaced-medium fs-11   text-center" href="/{{selectedDepartment}}" data-page><i class="pg-home"></i>home</a></li>
                                {{#each categoryTree}}
                                    {{#if (compareStrings this.department.name ../selectedDepartment)}}
                                        {{#each categories}}
                                            <li class=""><a class="dark all-caps text-spaced-medium fs-11  text-center"  expand-key="{{category.key}}">{{andfixer category.name}}</a></li>
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="container">
            <div id="category-expand-parent" class="hidden" style=" background: transparent;">
                <div class=" p-l-50 bgBlurEffect  category-expand-wrapper relative" style="opacity:0; box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2); background: rgba(0,0,0,0.82); width:1000px; height: 250px;">
                    {{#each categoryTree}}
                        {{#if (compareStrings this.department.name ../selectedDepartment)}}
                            {{#each categories}}
                                <div class="category-expand-container hidden  padding-1v" expand-parentKey="{{category.key}}">
                                    <div class="category-expand">
                                        <div class="">
                                            <a href="{{{category.url}}}"><h4 class="sbold text-spaced-medium all-caps b-b b-white text-white">{{andfixer category.name}}</h4></a>
                                            <div class="inline">

                                                <div class="desktopNavColoumns p-b-20">
                                                    <ul>

                                                        {{#each subCategory}}
                                                            <li class="full-width  b-b m-b-10" style="border-color: rgba(255,255,255,0.1)"><a class=" fs-14  bold"  href="{{{this.url}}}">
                                                                {{andfixer this.name}}
                                                            </a></li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                    {{#if (compareStrings 'kvinna' selectedDepartment)}}

                        <div class="bottom-right p-r-40" >
                            <a href="http://ad.zanox.com/ppc/?39585183C1076049580T"><img src="http://ad.zanox.com/ppv/?39585183C1076049580" align="bottom" width="200" height="200" border="0" hspace="1" alt="female_outlet_200x200"></a>
                        </div>
                    {{else}}
                        <div class="bottom-right p-r-40" >
                            <a href="http://ad.zanox.com/ppc/?38687752C882786159T"><img   src="http://ad.zanox.com/ppv/?38687752C882786159" align="bottom" width="300" height="250" border="0" hspace="1" alt="Shoes 300 x 250"></a>
                        </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>

    <div class="text-center full-width no-overflow visible-xs bg-master-lighter" id="mobileSubMenu" style="padding-top:40px;">
        <div class="row b-b">
            <a class="col-xs  dark light text-center subMenuMobile {{#if (stringContains url "upptack-nya-favoriter")}}active{{/if}}" href="/{{selectedDepartment}}"  data-page>
                <div>
                    <div class="p-t-10">
                        <i class="pg-home" style="font-size: 27px"></i>
                    </div>
                </div>
            </a>
            <a class="dark light text-center col-xs b-l b-grey subMenuMobile {{#if (stringContains url "explore")}}active{{/if}}" href="/{{selectedDepartment}}/kläder" data-page="explore">
                <div>
                    <div class="p-t-5">
                        <i><img alt="explore-submenu-icon"  src="/dist/images/nav/explore_black.png" style="width:35px;"/></i>
                    </div>
                </div>
            </a>
            <a class="col-xs b-l b-grey  dark light text-center relative no-overflow" id="comparePricePageButton">
                <div>
                    <div style="padding-top: 11px"> <i><img alt="search-submenu-icon"  src="/dist/images/nav/search_filled.png" style="width:45px;"/></i></div>
                </div>
                <input class="fakeMobileSearchButton bigSquare" />
            </a>
        </div>
    </div>
</div>























