<nav class="page-sidebar hidden-md hidden-xlg hidden-lg" >
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <style>
        .mobile-nav-tab a{
            color:white;
            font-weight: bold;
            font-size: 18px;
            transition: all 0.12s linear;
        }
        .mobile-nav-tab a.active{
            color:#9E8130;
            font-weight: bolder;
        }
        .mobile-nav-tab a.active:after{
            position: absolute;
            top: 32px;
            left: 46.1%;
            display: inline-block;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #000;
            border-left: 8px solid transparent;
            content: '';
        }
        .mobile-nav-tab a.active:before{
            position: absolute;
            top: 30px;
            left: 45%;
            display: inline-block;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #9E8130;
            border-left: 10px solid transparent;
            content: '';
        }
    </style>
    <div>
        <div class="row m-t-10 p-b-10">
            {{#if user}}
                    <div class="pull-right">
                            <button class="profile-dropdown-toggle p-t-5 p-r-10" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{#if user.facebook.name}}
                                    <span class="thumbnail-wrapper circular d39  bold  inline all-caps" style="font-size:18px; border:2px solid rgba(0,0,0,0.7); color:#e5a3ad; padding-top:8px;" id="avatar">
                                        {{trimForAvatar user.facebook.name}}
                                    </span>

                                {{else}}
                                    <span class="thumbnail-wrapper circular d39  bold   inline all-caps " style="font-size:18px; border:2px solid rgba(111,111,111,0.7); color:#ffb6c1;  line-height:33px;" id="avatar">
                                        {{trimForAvatar user.local.email}}
                                    </span>
                                {{/if}}

                            </button>
                        </div>

                    <div class=" col-xs-6">
                        <a href="/settings">
                            <span class="title text-black  all-caps bold" >Settings</span>
                        </a>
                         <span class="icon-thumbnail">
                             <i><img src="/dist/images/nav/settings_black.png" style="width:38px;"/></i>
                         </span>
                    </div>
                    <div  class="col-xs-6 " data-view="signup">
                        <a  class="no-padding no-margin" href="/logout">
                            <button class="btn btn-velvet btn-block  text-velvet all-caps bold">logout</button>
                        </a>
                    </div>
            {{else}}
                <div class="col-xs-6 authenticateMobile text-center" data-view="signup">
                    <div class="btn btn-info  btn-block">Bli medlem</div>
                </div>
                <div class="col-xs-6 authenticateMobile text-center" data-view="login">
                    <button class="btn btn-info text-black btn-block ">logga In</button>
                </div>
            {{/if}}
        </div>
        <div class="row p-t-20 p-b-20 b-t b-transparent-white bg-black">
        {{#each categoryTree}}
            <div class="col-xs-6 text-center mobile-nav-tab">
                <a  class="inline   sidebar-header-title cursor all-caps text-spaced
                {{#if (compareStrings ../selectedDepartment this.department.name)}}active{{/if}}"
                    data-mobile-nav="{{this.department.key}}">
                    {{this.department.name}}
                </a>
            </div>
        {{/each}}
        </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    {{#each categoryTree}}
        <div class="sidebar-menu {{#unless (compareStrings ../selectedDepartment this.department.name) }} hidden {{/unless}}"  data-mobile-nav-toggle="{{this.department.key}}">
            <div class="scroll-wrapper  menu-items relative no-overflow" >
            <ul class="menu-items scroll-content" style="margin-bottom: 0px; margin-right: 0px; height: 100%; padding-bottom: 50px;">
                 <li class="m-t-10 b-b">
                    <a href="/{{this.department.key}}" >
                        <span class="title all-caps bold text-black" > {{this.department.name}} home</span>
                    </a>
                </li>
                {{#each categories}}
                    <li class="m-t-10 b-b">
                        <a class=" bold text-black"><span class="title all-caps">{{andfixer category.name}}</span>
                            <span class="arrow"></span></a>
                        <ul class="sub-menu">
                                <li>
                                    <a class=" bold text-black" href="{{{category.url}}}"  data-page-ref>Alla</a>
                                </li>

                            {{#each subCategory}}
                                <li>
                                    <a class=" bold text-black" href="{{{this.url}}}" data-page-ref>{{andfixer this.name}}</a>
                                </li>
                            {{/each }}
                        </ul>
                    </li>
                {{/each }}



                <li class="m-t-10 b-b">
                    <a href="/favourite-products"><span class="title all-caps bold text-black" >Favourite</span></a>

                   <span class="detail">{{#if nbFavProducts}} {{nbFavProducts}} {{else}}0{{/if}}
                </li>
        </ul>
    </div>
        </div>
    {{/each}}


    <!-- END SIDEBAR MENU -->
</nav>
<div class="page-sidebar-cover hidden"></div>

<div id="mobileProductFilter"></div>





